<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>收入</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LXJSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>LXSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>LXZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YZBF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>BXYWSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FBFSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FBFSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TQWDQZRZBJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SXFJYJJSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SXFJYJSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SXFJYJZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DLYQYHHYQYDTZSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GYJZBDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYWSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSFBWDQZRZBJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>营业成本</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>PFZZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>THPFZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TQBXZRZBJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FBFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TBJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>BDHLZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYSJJFJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>BXYWSXFJYJZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YWJGLF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>THFBFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZCJZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYWZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>营业利润</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYWSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYWZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FLDZCCZJSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LRZE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SSGDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GSYMGSSYZDJLR</string>
	</dict>
</array>
</plist>
