<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Revenue</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYWSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LXSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJRZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SXFJYJXR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYZSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Operating Expenses</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYCB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYWCB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LXZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SXFJYJZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYSJJFJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YYFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GLFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CWFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>KTFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZCJZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYZCB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Operating Profit</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GYJZBDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DLYQYHHYQYRTZSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYWSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYWZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FLDZCCLSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GDZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YQNDSYTZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LRZE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WQRTZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYKZXHBZBHBFHBQSXDJLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SSGDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GSYMGSSYZDJLR</string>
	</dict>
</array>
</plist>
