<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Operating Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSSPTGLWSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SQLXSXFJYJDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDDSFFH</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZZSXXSETHZZSK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CZZSWQTFHSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYJYHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GMSPJSLWZFEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYZLSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>KHDKJDKJZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFLXSXFJYJDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZFGZGYJWZGZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFDGXSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFZZSK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFSDSK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZZSSDSWQTSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYJYHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Investing Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SHTZSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDTZSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FDGLHLRSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDZQLXSRSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZGDWXQTCQZCSHEXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZZGSSDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYTZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GJGDWXQTZCSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDZGSJQTYYDWZFDXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GMZGSZFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>QYXTZSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZQXTZSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZXZHCSXJLCJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYTZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Financing Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSTZSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>XSQYXTZSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZGSXSXSGDQYXTZSSEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FXZQSSSEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JKSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYCZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CHZWSZFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZFYSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FPGLLRHCFLXSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FPGLLRSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZGSZFGL</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CHLXSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>RZZLSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JSZCZBSFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZGSJZZFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYCZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Net Change In Cash</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HLBDDXJDYX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HBBBFWBHDXJDYX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJJXJDJWJZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJQCYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJDJWQMYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJDJWQCYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJQMYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Notes</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Reconciliation of Net Profit to Cash Flows Form Operating Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SSGDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>HBJCTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>WQRTZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JTZCJZZB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>HZZBZXHZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GDZCZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TZXFDCZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WXZCTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YYGJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TZXFDCTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CQDTFYTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DTFYJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YTFYZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZGDWXQTCQZCSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GDZCBFSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GYJZBDSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CWFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TYSKDX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DYSDSFZZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CHJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YJFZZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JYXYSXMJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JYXYFXMZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZZSZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZWZZSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QT</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FZJYHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>Non-cash investing and financing activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YGDZCCHZW</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YTZCHZW</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YGDZCJXTZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YCHCHZW</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZWZWZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YNNDQDKZHGSZQ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>RZZLGDZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JSSZFXJZC</string>
	</dict>
</array>
</plist>
