<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Operating Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SHDZCQDK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DQDKSHYFFJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSCQCKSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HQCKXSYZFJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYCRHTYCCJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYWLLXSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DDFZQSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XQTJRQYCJDZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WTCKYWTDKJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZYZQSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MRFSZQDQFSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZYZQZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DLZQZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MCHGZQKZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SHTZSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FDGLHLRSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SQLXSXFJYJDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDZQLXSRSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>LXSRSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JRQYWLSRSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SXFSRSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HGYWZJJZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZQXSCJSRSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZQFXCJSRSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYYSSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSSPTGLWSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDDZZZCDJK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>RZZLSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZJSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDDBZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDDSFFH</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYZLSR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDDDKLX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DQTZSDDXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYJYHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYCRCCZJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>KHCFKXJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FFDZCQDK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DQDKSHYFFJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DQTZZFDXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HQCKXSYZFJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFDCQCKBJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYWLLXZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>XTCKSZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HGYWZJJJSE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WTCDKYWXJSZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QYXTZSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MRFSZQDQFSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MCHGZQDQHGZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFLXSXFJYJDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZQXTZSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>LXZCZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JRQYWLZCZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SXFZCZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYYZCZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GMSPJSLWZFEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFGZGYJWZGZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYZLZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZFDGXSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZFDSDSK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZFDQTSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYJYHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Investing Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SHTZSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDTZSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FDGLHLRSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>QDZQLXSRSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZGDWXQTCQZCSHEXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDZGSJQTYYDWSDDXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYTZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GJGDWXQTZCSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>QYXTZZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZQXTZZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QDZGSJQTYYDWSZFDXJJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYTZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>Financing Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSTZSSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>XSQYXTZSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FXZQSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZGSXSSSGDQYXTZSDDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JKSSDEXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SDQTYTZHDYGXJ1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZXJLRXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CHZWSZFXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FSCZFYSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FPGLLRHCFLXSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZGSZFGSSGDDGLLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>FPGLHLRSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CFLXSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>RZZLSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JSZCZBSZFDXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZFQTYCZHDYGXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZXJLCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CZHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Net Change In Cash</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HLBDDXJDYX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJQMYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJQCYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJDJWQMYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJDJWQCYE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJJXJDJWJZJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Notes</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Reconciliation of Net Profit to Cash Flows Form Operating Activities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JTZCJZZB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JTDHZZBHZXDHZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZTHCHDQTJZZB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>SSGDSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GDZCZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>WXZCTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CQDTFYTX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DTFYJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YTFYZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CZGDWXQTCQZCSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GDZCBFSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CWFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GYJZBDSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TZSS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>TYSKDX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DYSDSZCJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CHJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZYZQDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>XTJWTDKDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>XTJWTCKDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CCZJDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CRZJDZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GZZQZCDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>GZZQFZDZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JYXYSXMJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>JYXYFXMZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>DQJWTCKDZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CQTZDJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YJFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>QT</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FZJYHDCSDXJLLJE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>Inverstment And Financing Activities That Do Not Involve Cash Receipts And Payments</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>ZWZWZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>YNNDQDKZHGSZQ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>RZZLGDZC</string>
	</dict>
</array>
</plist>
