<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>General</key>
	<dict>
		<key>Width</key>
		<integer>650</integer>
		<key>Height</key>
		<integer>322</integer>
		<key>Margin</key>
		<integer>2</integer>
		<key>BackgroundColor</key>
		<integer>2969959</integer>
		<key>BackgroundOpacity</key>
		<integer>255</integer>
		<key>BorderColor</key>
		<integer>4291809257</integer>
		<key>BorderOpacity</key>
		<integer>0</integer>
		<key>BorderWidth</key>
		<integer>0</integer>
		<key>CornerRadius</key>
		<integer>8</integer>
		<key>TextFont</key>
		<string>Helvetica</string>
		<key>TextSize</key>
		<integer>10</integer>
		<key>TextColor</key>
		<integer>267600847</integer>
		<key>Resize</key>
		<true/>
		<key>PreLoaderEnable</key>
		<false/>
		<key>DataCachingEnable</key>
		<false/>
		<key>HeaderEnable</key>
		<false/>
		<key>LegendEnable</key>
		<true/>
		<key>PeriodSelectorEnable</key>
		<false/>
		<key>PlotArea</key>
		<dict>
			<key>X</key>
			<integer>0</integer>
			<key>Y</key>
			<integer>0</integer>
			<key>Width</key>
			<integer>0</integer>
			<key>Height</key>
			<integer>0</integer>
			<key>BackgroundColor</key>
			<integer>3684489</integer>
			<key>BackgroundOpacity</key>
			<integer>0</integer>
			<key>BorderColor</key>
			<integer>13619177</integer>
			<key>BorderOpacity</key>
			<integer>15</integer>
			<key>CornerRadius</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Header</key>
	<dict>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>0</integer>
		<key>Width</key>
		<integer>0</integer>
		<key>Height</key>
		<integer>0</integer>
		<key>Margin</key>
		<integer>0</integer>
		<key>BackgroundColor</key>
		<integer>0</integer>
		<key>BackgroundOpacity</key>
		<integer>0</integer>
		<key>BorderColor</key>
		<integer>0</integer>
		<key>BorderOpacity</key>
		<integer>0</integer>
		<key>BorderWidth</key>
		<integer>1</integer>
		<key>CornerRadius</key>
		<integer>0</integer>
		<key>TextFont</key>
		<string>Arial</string>
		<key>TextSize</key>
		<integer>16</integer>
		<key>TextColor</key>
		<integer>4294835709</integer>
	</dict>
	<key>Legend</key>
	<dict>
		<key>X</key>
		<integer>10</integer>
		<key>Y</key>
		<integer>10</integer>
		<key>Width</key>
		<integer>293</integer>
		<key>Height</key>
		<integer>55</integer>
		<key>Margin</key>
		<integer>3</integer>
		<key>BackgroundColor</key>
		<integer>15817252</integer>
		<key>BackgroundOpacity</key>
		<integer>0</integer>
		<key>BorderColor</key>
		<integer>0</integer>
		<key>BorderOpacity</key>
		<integer>0</integer>
		<key>BorderWidth</key>
		<integer>0</integer>
		<key>CornerRadius</key>
		<integer>8</integer>
		<key>TextFont</key>
		<string>Helvetica</string>
		<key>TextSize</key>
		<integer>13</integer>
		<key>TextColor</key>
		<integer>4294901502</integer>
		<key>ValueColor</key>
		<integer>4294835709</integer>
		<key>PositiveColor</key>
		<integer>4278255360</integer>
		<key>NegativeColor</key>
		<integer>4294901760</integer>
		<key>Items</key>
		<dict>
			<key>Item1</key>
			<dict>
				<key>Title</key>
				<string>Date</string>
				<key>X</key>
				<integer>15</integer>
				<key>Y</key>
				<integer>4</integer>
				<key>ValueKey</key>
				<string>date</string>
				<key>DigitsAfterDecimal</key>
				<integer>0</integer>
			</dict>
			<key>Item2</key>
			<dict>
				<key>Title</key>
				<string>Price</string>
				<key>X</key>
				<integer>110</integer>
				<key>Y</key>
				<integer>4</integer>
				<key>ValueKey</key>
				<string>close</string>
				<key>DigitsAfterDecimal</key>
				<integer>2</integer>
			</dict>
			<key>Item3</key>
			<dict>
				<key>Title</key>
				<string>Volume(x100)</string>
				<key>X</key>
				<integer>192</integer>
				<key>Y</key>
				<integer>4</integer>
				<key>ValueKey</key>
				<string>volume</string>
				<key>DigitsAfterDecimal</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>PeriodSelector</key>
	<dict>
		<key>X</key>
		<integer>350</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>Width</key>
		<integer>280</integer>
		<key>Height</key>
		<integer>28</integer>
		<key>Margin</key>
		<integer>0</integer>
		<key>BackgroundColor</key>
		<integer>16724872</integer>
		<key>BackgroundOpacity</key>
		<integer>255</integer>
		<key>BorderColor</key>
		<integer>0</integer>
		<key>BorderOpacity</key>
		<integer>0</integer>
		<key>BorderWidth</key>
		<integer>0</integer>
		<key>CornerRadius</key>
		<integer>6</integer>
		<key>TextFont</key>
		<string>Arial</string>
		<key>TextSize</key>
		<integer>10</integer>
		<key>TextColor</key>
		<integer>0</integer>
		<key>Button</key>
		<dict>
			<key>Width</key>
			<integer>0</integer>
			<key>Height</key>
			<integer>28</integer>
			<key>BackgroundColor</key>
			<integer>4292269782</integer>
			<key>BackgroundColorSelected</key>
			<integer>4282942952</integer>
			<key>BorderColor</key>
			<integer>4281545523</integer>
			<key>BorderWidth</key>
			<integer>1</integer>
			<key>CornerRadius</key>
			<integer>6</integer>
			<key>TextFont</key>
			<string>Helvetica</string>
			<key>TextSize</key>
			<integer>10</integer>
			<key>TextColor</key>
			<integer>4286545791</integer>
			<key>TextColorSelected</key>
			<integer>4294967295</integer>
		</dict>
		<key>PeriodElements</key>
		<dict>
			<key>Item 1</key>
			<dict>
				<key>Title</key>
				<string>Intraday</string>
				<key>Period</key>
				<integer>1</integer>
				<key>Enabled</key>
				<false/>
			</dict>
			<key>Item 2</key>
			<dict>
				<key>Title</key>
				<string>3 months</string>
				<key>Period</key>
				<integer>90</integer>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Item 3</key>
			<dict>
				<key>Title</key>
				<string>6 months</string>
				<key>Period</key>
				<integer>180</integer>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Item 4</key>
			<dict>
				<key>Title</key>
				<string>1 year</string>
				<key>Period</key>
				<integer>365</integer>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Item 5</key>
			<dict>
				<key>Title</key>
				<string>2 year</string>
				<key>Period</key>
				<integer>730</integer>
				<key>Enabled</key>
				<true/>
			</dict>
			<key>Item 6</key>
			<dict>
				<key>Title</key>
				<string>5 year</string>
				<key>Period</key>
				<integer>1825</integer>
				<key>Enabled</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Charts</key>
	<dict>
		<key>Chart1</key>
		<dict>
			<key>X</key>
			<integer>10</integer>
			<key>Y</key>
			<integer>80</integer>
			<key>Width</key>
			<integer>620</integer>
			<key>Height</key>
			<integer>184</integer>
			<key>Margin</key>
			<integer>2</integer>
			<key>BackgroundColor</key>
			<integer>15817252</integer>
			<key>BackgroundOpacity</key>
			<integer>0</integer>
			<key>BorderColor</key>
			<integer>0</integer>
			<key>BorderOpacity</key>
			<integer>0</integer>
			<key>BorderWidth</key>
			<integer>0</integer>
			<key>CornerRadius</key>
			<integer>0</integer>
			<key>TextFont</key>
			<string>Helvetica</string>
			<key>TextSize</key>
			<integer>14</integer>
			<key>TextColor</key>
			<integer>4294901502</integer>
			<key>GraphAreaX</key>
			<integer>40</integer>
			<key>GraphAreaY</key>
			<integer>0</integer>
			<key>GraphAreaWidth</key>
			<integer>577</integer>
			<key>GraphAreaHeight</key>
			<integer>153</integer>
			<key>Columns</key>
			<integer>5</integer>
			<key>Rows</key>
			<integer>6</integer>
			<key>BulletSize</key>
			<integer>4</integer>
			<key>BulletColor</key>
			<integer>4294007332</integer>
			<key>BulletType</key>
			<string>simple</string>
			<key>InteractEnable</key>
			<true/>
			<key>XAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<true/>
					<key>Lines</key>
					<integer>7</integer>
					<key>Color</key>
					<integer>4288256409</integer>
					<key>Opacity</key>
					<integer>255</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<true/>
					<key>TextSize</key>
					<integer>12</integer>
					<key>TextColor</key>
					<integer>4294835709</integer>
				</dict>
			</dict>
			<key>YLeftAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>Color</key>
					<integer>0</integer>
					<key>Opacity</key>
					<integer>0</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<true/>
					<key>TextColor</key>
					<integer>4294835709</integer>
					<key>TextSize</key>
					<integer>12</integer>
					<key>ValueKey</key>
					<string>close</string>
					<key>Unit</key>
					<string></string>
					<key>UnitPosition</key>
					<string>left</string>
					<key>DigitsAfterDecimal</key>
					<integer>3</integer>
					<key>RegularNumber</key>
					<true/>
					<key>PercentageNumber</key>
					<false/>
				</dict>
			</dict>
			<key>YRightAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>Color</key>
					<integer>0</integer>
					<key>Opacity</key>
					<integer>0</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>TextColor</key>
					<integer>0</integer>
					<key>TextSize</key>
					<integer>0</integer>
					<key>ValueKey</key>
					<string></string>
					<key>Unit</key>
					<string></string>
					<key>UnitPosition</key>
					<string>right</string>
					<key>DigitsAfterDecimal</key>
					<integer>0</integer>
					<key>RegularNumber</key>
					<false/>
					<key>PercentageNumber</key>
					<true/>
				</dict>
			</dict>
			<key>Graphs</key>
			<dict>
				<key>Graph1</key>
				<dict>
					<key>ID</key>
					<string>Graph1</string>
					<key>Type</key>
					<string>Line</string>
					<key>Title</key>
					<string>Test</string>
					<key>ValueKey</key>
					<string>close</string>
					<key>StrokeSize</key>
					<integer>2</integer>
					<key>Color</key>
					<integer>15437602</integer>
					<key>FillOpacity</key>
					<integer>255</integer>
					<key>PositiveColor</key>
					<integer>4278255360</integer>
					<key>NegativeColor</key>
					<integer>4294901760</integer>
					<key>Smoothed</key>
					<true/>
					<key>Shadowed</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>Chart2</key>
		<dict>
			<key>X</key>
			<integer>50</integer>
			<key>Y</key>
			<integer>260</integer>
			<key>Width</key>
			<integer>578</integer>
			<key>Height</key>
			<integer>60</integer>
			<key>Margin</key>
			<integer>2</integer>
			<key>BackgroundColor</key>
			<integer>0</integer>
			<key>BackgroundOpacity</key>
			<integer>0</integer>
			<key>BorderColor</key>
			<integer>0</integer>
			<key>BorderOpacity</key>
			<integer>0</integer>
			<key>BorderWidth</key>
			<integer>0</integer>
			<key>CornerRadius</key>
			<integer>0</integer>
			<key>TextFont</key>
			<string>Helvetica</string>
			<key>TextSize</key>
			<integer>14</integer>
			<key>TextColor</key>
			<integer>4294901502</integer>
			<key>GraphAreaX</key>
			<integer>0</integer>
			<key>GraphAreaY</key>
			<integer>0</integer>
			<key>GraphAreaWidth</key>
			<integer>578</integer>
			<key>GraphAreaHeight</key>
			<integer>38</integer>
			<key>Columns</key>
			<integer>5</integer>
			<key>Rows</key>
			<integer>6</integer>
			<key>BulletSize</key>
			<integer>2</integer>
			<key>BulletColor</key>
			<integer>4294835709</integer>
			<key>BulletType</key>
			<string>simple</string>
			<key>InteractEnable</key>
			<true/>
			<key>XAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>Lines</key>
					<integer>0</integer>
					<key>Color</key>
					<integer>0</integer>
					<key>Opacity</key>
					<integer>0</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>TextSize</key>
					<integer>0</integer>
					<key>TextColor</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>YLeftAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>Color</key>
					<integer>0</integer>
					<key>Opacity</key>
					<integer>0</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>TextColor</key>
					<integer>0</integer>
					<key>TextSize</key>
					<integer>0</integer>
					<key>ValueKey</key>
					<string></string>
					<key>Unit</key>
					<string>$</string>
					<key>UnitPosition</key>
					<string>left</string>
					<key>DigitsAfterDecimal</key>
					<integer>0</integer>
					<key>RegularNumber</key>
					<true/>
					<key>PercentageNumber</key>
					<false/>
				</dict>
			</dict>
			<key>YRightAxis</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>Color</key>
					<integer>0</integer>
					<key>Opacity</key>
					<integer>0</integer>
				</dict>
				<key>Value</key>
				<dict>
					<key>Enable</key>
					<false/>
					<key>TextColor</key>
					<integer>0</integer>
					<key>TextSize</key>
					<integer>0</integer>
					<key>ValueKey</key>
					<string></string>
					<key>Unit</key>
					<string></string>
					<key>UnitPosition</key>
					<string>right</string>
					<key>DigitsAfterDecimal</key>
					<integer>0</integer>
					<key>RegularNumber</key>
					<false/>
					<key>PercentageNumber</key>
					<true/>
				</dict>
			</dict>
			<key>Graphs</key>
			<dict>
				<key>Graph1</key>
				<dict>
					<key>ID</key>
					<string>Graph2</string>
					<key>Type</key>
					<string>Column</string>
					<key>Title</key>
					<string>Test2</string>
					<key>ValueKey</key>
					<string>volume</string>
					<key>StrokeSize</key>
					<integer>1</integer>
					<key>Color</key>
					<integer>15437602</integer>
					<key>FillOpacity</key>
					<integer>255</integer>
					<key>PositiveColor</key>
					<integer>4278255360</integer>
					<key>NegativeColor</key>
					<integer>4294901760</integer>
					<key>Smoothed</key>
					<true/>
					<key>Shadowed</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
