<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Start</key>
	<integer>1</integer>
	<key>Align</key>
	<integer>2</integer>
	<key>Size</key>
	<integer>12</integer>
	<key>Dec</key>
	<string>FF006400</string>
	<key>Inc</key>
	<string>FFFF0000</string>
	<key>KeyColumn</key>
	<integer>2</integer>
	<key>Pivot</key>
	<dict/>
	<key>landscape</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>449</integer>
		<key>height</key>
		<integer>212</integer>
		<key>cellswidth</key>
		<array>
			<integer>49</integer>
			<integer>59</integer>
			<integer>54</integer>
			<integer>72</integer>
			<integer>82</integer>
			<integer>72</integer>
		</array>
		<key>cellspace</key>
		<array>
			<integer>0</integer>
			<integer>15</integer>
			<integer>10</integer>
			<integer>20</integer>
			<integer>10</integer>
			<integer>5</integer>
		</array>
	</dict>
	<key>portrait</key>
	<dict>
		<key>x</key>
		<integer>27</integer>
		<key>y</key>
		<integer>10</integer>
		<key>width</key>
		<integer>668</integer>
		<key>height</key>
		<integer>212</integer>
		<key>cellswidth</key>
		<array>
			<integer>94</integer>
			<integer>98</integer>
			<integer>98</integer>
			<integer>120</integer>
			<integer>120</integer>
			<integer>120</integer>
		</array>
		<key>cellspace</key>
		<array>
			<integer>0</integer>
			<integer>35</integer>
			<integer>30</integer>
			<integer>35</integer>
			<integer>25</integer>
			<integer>20</integer>
		</array>
	</dict>
</dict>
</plist>
