<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cache</key>
	<dict>
		<key>CachedDataLifecycle</key>
		<dict>
			<key>Home</key>
			<dict>
				<key>StockInTheNews</key>
				<integer>15</integer>
				<key>FinancialSummary</key>
				<integer>15</integer>
			</dict>
			<key>Market</key>
			<dict>
				<key>CompositeIndex</key>
				<integer>15</integer>
				<key>MostActive</key>
				<integer>15</integer>
				<key>Stock</key>
				<integer>15</integer>
			</dict>
			<key>Industrial</key>
			<dict>
				<key>GainerLoser</key>
				<integer>15</integer>
				<key>Statistics</key>
				<integer>15</integer>
			</dict>
			<key>Macro</key>
			<dict/>
			<key>News</key>
			<dict>
				<key>Snapshot</key>
				<integer>15</integer>
			</dict>
			<key>MyEquities</key>
			<dict/>
		</dict>
	</dict>
	<key>Application</key>
	<dict>
		<key>CachedDataLifecycle</key>
		<integer>15</integer>
		<key>Language</key>
		<string>en</string>
	</dict>
	<key>Home</key>
	<dict>
		<key>StockInTheNewsCategory</key>
		<array>
			<dict>
				<key>categoryname</key>
				<string>Discretionary</string>
				<key>title</key>
				<string>Consumer Discretionary</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Staples</string>
				<key>title</key>
				<string>Consumer Staples</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Financials</string>
				<key>title</key>
				<string>Financials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Heath Care</string>
				<key>title</key>
				<string>Heath Care</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Industrials</string>
				<key>title</key>
				<string>Industrials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Materials</string>
				<key>title</key>
				<string>Materials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Energy</string>
				<key>title</key>
				<string>Energy</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Telecom</string>
				<key>title</key>
				<string>Telecommunication Services</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Utilities</string>
				<key>title</key>
				<string>Utilities</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>IT</string>
				<key>title</key>
				<string>Information Technology</string>
				<key>select</key>
				<false/>
			</dict>
		</array>
		<key>TodayNewsCategory</key>
		<array>
			<dict>
				<key>categoryname</key>
				<string>Discretionary</string>
				<key>title</key>
				<string>Consumer Discretionary</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Staples</string>
				<key>title</key>
				<string>Consumer Staples</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Financials</string>
				<key>title</key>
				<string>Financials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Heath Care</string>
				<key>title</key>
				<string>Heath Care</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Industrials</string>
				<key>title</key>
				<string>Industrials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Materials</string>
				<key>title</key>
				<string>Materials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Energy</string>
				<key>title</key>
				<string>Energy</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Telecom</string>
				<key>title</key>
				<string>Telecommunication Services</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Utilities</string>
				<key>title</key>
				<string>Utilities</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>IT</string>
				<key>title</key>
				<string>Information Technology</string>
				<key>select</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>Market</key>
	<dict>
		<key>MostActiveCategory</key>
		<array>
			<dict>
				<key>categoryname</key>
				<string>Discretionary</string>
				<key>title</key>
				<string>Consumer Discretionary</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Staples</string>
				<key>title</key>
				<string>Consumer Staples</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Financials</string>
				<key>title</key>
				<string>Financials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Heath Care</string>
				<key>title</key>
				<string>Heath Care</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Industrials</string>
				<key>title</key>
				<string>Industrials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Materials</string>
				<key>title</key>
				<string>Materials</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Energy</string>
				<key>title</key>
				<string>Energy</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Telecom</string>
				<key>title</key>
				<string>Telecommunication Services</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>Utilities</string>
				<key>title</key>
				<string>Utilities</string>
				<key>select</key>
				<false/>
			</dict>
			<dict>
				<key>categoryname</key>
				<string>IT</string>
				<key>title</key>
				<string>Information Technology</string>
				<key>select</key>
				<false/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
