<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Assets</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJJCFZYYHKX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>KCXJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string>    </string>
		<key>key</key>
		<string>CFKYYHK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CFTYHQTJRJGKX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GJS</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CCFCJJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CCZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJRZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSJRZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MRFSJRZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSLX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSZK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DTLX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DTFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYSK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZQTZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FFDK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DKSSZB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>KGCSJRZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CYZDQTZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CQGQTZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSTZKX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZXFDC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GDZCYJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>LJZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GDZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZJGC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GDZCQL</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WXZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CQDTFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DCLDZZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DYSDSZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTZC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZCZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Liabilities</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TYJQTJRJGCFKX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XZYYHJK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FXHBZW</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CRZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WGZFJK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JYXJRFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YSJRFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>MCHGJRZCK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XSCK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>HCHK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YJHK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YFKX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YFGL</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YTFY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DYSY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FXZQ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>JRQTZJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YFZGXC</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YJSF</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTYFK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YFLX</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YTFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>CQYFK</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YFZQ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>DYSDSFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>QTFZ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FZHJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<true/>
		<key>title</key>
		<string>Shareholder Equity</string>
		<key>key</key>
		<string></string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>ZBGJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>TZCGCB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>KCG</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YYGJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>YBFXZB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WFPLR</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>XJGL</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>WBBBZSCE</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>KGCSJRZCGYJZBDCB</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>GSYMGSSYZQY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>2</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SSGDQY</string>
	</dict>
	<dict>
		<key>type</key>
		<string>3</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>SYZQYHJ</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>isHeader</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>key</key>
		<string>FZHGDQYZJ</string>
	</dict>
</array>
</plist>
