<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serviceUrl</key>
	<string>http://data.capitalvue.com/soap.php?m=service&amp;method=genEncrptyUrl&amp;cmd=</string>
	<key>getNewsDetail</key>
	<string>CV_Services.GetNews</string>
	<key>getRelativeNews</key>
	<string>CV_Services.GetRelativeNews</string>
	<key>getTodayNews</key>
	<string>CV_Services.GetTodayNews</string>
	<key>getHeadlineNews</key>
	<string>CV_Services.GetHeadlineNews</string>
	<key>getLatestNews</key>
	<string>CV_Services.GetLatestNews</string>
	<key>getMacroNews</key>
	<string>CV_Services.GetMacroNews</string>
	<key>getIndustryNews</key>
	<string>CV_Services.GetIndustryNews</string>
	<key>getStockInTheNews</key>
	<string>CV_Services.GetStockInTheNews</string>
	<key>getStockNews</key>
	<string>CV_Services.GetStockNews</string>
	<key>getEquityByCodes</key>
	<string>Cada_Services.GetEquityByCodes</string>
	<key>getEquityChart</key>
	<string>Cada_Services.GetEquityChart</string>
	<key>getFundChart</key>
	<string>Cada_Services.GetFundChart</string>
	<key>getBondChart</key>
	<string>Cada_Services.GetBondChart</string>
	<key>getDailyCompositeIndex</key>
	<string>Cada_Services.GetDailyIndex</string>
	<key>getTopMovingEquites</key>
	<string>Cada_Services.GetTopMovingEquities</string>
	<key>getTopMovingFunds</key>
	<string>Cada_Services.GetTopMovingFunds</string>
	<key>getTopMovingBonds</key>
	<string>Cada_Services.GetTopMovingBonds</string>
	<key>getCompositeIndexSummary</key>
	<string>Cada_Services.GetSelectedIndexSummaryDaily</string>
	<key>getCompositeIndexChart</key>
	<string>Cada_Services.GetIndexChart</string>
	<key>getCompositeIndexEquities</key>
	<string>Cada_Services.GetCompositeIndexList</string>
	<key>getHighestMarketCapsInSseSzse</key>
	<string>Cada_Services.GetHighestMarketCapsInSseSzse</string>
	<key>getEpsSummary</key>
	<string>Cada_Services.GetEpsSummary </string>
	<key>getSectorGainerLoser</key>
	<string>Cada_Services.GetSectorGainerLoser</string>
	<key>getTopDailyGainersDecliners</key>
	<string>Cada_Services.GetTop10DailyGainersDecliners</string>
	<key>getSectorAll</key>
	<string>Cada_Services.GetAllSectors</string>
	<key>getSectorTurnover</key>
	<string>Cada_Services.GetSectorTurnover</string>
	<key>getSectorVolume</key>
	<string>Cada_Services.GetSectorVolume</string>
	<key>getSectorTotalCap</key>
	<string>Cada_Services.GetSectorTotalCap</string>
	<key>getSectorTradableCap</key>
	<string>Cada_Services.GetSectorTradableCap</string>
	<key>getSectorSummary</key>
	<string>Cada_Services.GetSectorSummary</string>
	<key>getMacroData</key>
	<string>Cada_Services.GetMacroData</string>
	<key>getIndexProfile</key>
	<string>Cada_Services.GetIndexProfile</string>
	<key>getIndexLatestPrice</key>
	<string>Cada_Services.GetIndexLatestPrice</string>
	<key>getEquityProfile</key>
	<string>Cada_Services.GetEquityProfile</string>
	<key>getEquityLatestPrice</key>
	<string>Cada_Services.GetEquityLatestPrice </string>
	<key>getSelectedFundSummaryDaily</key>
	<string>Cada_Services.GetSelectedFundSummaryDaily</string>
	<key>getFundProfile</key>
	<string>Cada_Services.GetFundProfile</string>
	<key>getFundLatestPrice</key>
	<string>Cada_Services.GetFundLatestPrice</string>
	<key>getSelectedBondSummaryDaily</key>
	<string>Cada_Services.GetSelectedBondSummaryDaily</string>
	<key>getBondProfile</key>
	<string>Cada_Services.GetBondProfile</string>
	<key>getBondLatestPrice</key>
	<string>Cada_Services.GetBondLatestPrice</string>
	<key>getEquityBlanceSheet</key>
	<string>Cada_Services.GetEquityBalanceSheet</string>
	<key>getEquityIncomeStatement</key>
	<string>Cada_Services.GetEquityIncomeStatement</string>
	<key>getEquityCashflowStatement</key>
	<string>Cada_Services.GetEquityCashflowStatement</string>
	<key>getEquityCodes</key>
	<string>Cada_Services.GetEquityCodes</string>
	<key>getLargestMarketCap</key>
	<string>Cada_Services.GetLargestMarketCap</string>
	<key>getCompanyLogo</key>
	<string>Cada_Services.GetCompanyLogoByCode</string>
	<key>getIndexTop10DailyGainersDecliners</key>
	<string>Cada_Services.GetIndexTop10DailyGainersDecliners</string>
	<key>getLatestTurnover</key>
	<string>Cada_Services.GetLatestTurnover</string>
	<key>getIndicesChart</key>
	<string>Cada_Services.GetIndicesChart</string>
	<key>GetTopAShares</key>
	<string>Cada_Services.GetTopAShares</string>
	<key>GetTopBlueChips</key>
	<string>Cada_Services.GetTopBlueChips</string>
	<key>getMinuteData</key>
	<string>RT_Services.GetMinuteData</string>
	<key>getIndexMinuteData</key>
	<string>RT_Services.GetIndexMinuteData</string>
	<key>getMinuteStockDetail</key>
	<string>RT_Services.GetStockDetail</string>
	<key>getMinuteCompositeDetail</key>
	<string>RT_Services.GetIndexDetail</string>
	<key>getMinuteMultipleStockDetail</key>
	<string>RT_Services.GetEquityByCodes</string>
	<key>getMinuteMultipleCompositeDetail</key>
	<string>RT_Services.GetIndexByCodes</string>
	<key>getDailyMarketStatistics</key>
	<string>Cada_Services.GetDailyMarketStatistics</string>
	<key>getDailyBoardStatistics</key>
	<string>Cada_Services.GetDailyBoardStatistics</string>
</dict>
</plist>
