<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pivot</key>
	<dict/>
	<key>KeyColumn</key>
	<integer>2</integer>
	<key>Inc</key>
	<string>FFFF0000</string>
	<key>Dec</key>
	<string>FF0000FF</string>
	<key>Size</key>
	<integer>13</integer>
	<key>Align</key>
	<integer>1</integer>
	<key>Start</key>
	<integer>1</integer>
</dict>
</plist>
