<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2010-08-20T17:18:41Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>10271.210000000001</real>
			<key>close</key>
			<real>10271.210000000001</real>
			<key>date</key>
			<date>2010-08-18T16:00:00Z</date>
			<key>high</key>
			<real>10412.289999999999</real>
			<key>low</key>
			<real>10202.34</real>
			<key>open</key>
			<real>10411.15</real>
			<key>volume</key>
			<real>4290540000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10415.539999999999</real>
			<key>close</key>
			<real>10415.539999999999</real>
			<key>date</key>
			<date>2010-08-17T16:00:00Z</date>
			<key>high</key>
			<real>10486.380000000001</real>
			<key>low</key>
			<real>10308.83</real>
			<key>open</key>
			<real>10398.59</real>
			<key>volume</key>
			<real>3724260000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10405.85</real>
			<key>close</key>
			<real>10405.85</real>
			<key>date</key>
			<date>2010-08-16T16:00:00Z</date>
			<key>high</key>
			<real>10501.67</real>
			<key>low</key>
			<real>10297.549999999999</real>
			<key>open</key>
			<real>10297.549999999999</real>
			<key>volume</key>
			<real>3968210000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10302.01</real>
			<key>close</key>
			<real>10302.01</real>
			<key>date</key>
			<date>2010-08-15T16:00:00Z</date>
			<key>high</key>
			<real>10354.389999999999</real>
			<key>low</key>
			<real>10193.26</real>
			<key>open</key>
			<real>10303.07</real>
			<key>volume</key>
			<real>3142450000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10303.15</real>
			<key>close</key>
			<real>10303.15</real>
			<key>date</key>
			<date>2010-08-12T16:00:00Z</date>
			<key>high</key>
			<real>10381.860000000001</real>
			<key>low</key>
			<real>10254.18</real>
			<key>open</key>
			<real>10320.33</real>
			<key>volume</key>
			<real>3328890000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10319.950000000001</real>
			<key>close</key>
			<real>10319.950000000001</real>
			<key>date</key>
			<date>2010-08-11T16:00:00Z</date>
			<key>high</key>
			<real>10388.369999999999</real>
			<key>low</key>
			<real>10222.85</real>
			<key>open</key>
			<real>10361.58</real>
			<key>volume</key>
			<real>4521050000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10378.83</real>
			<key>close</key>
			<real>10378.83</real>
			<key>date</key>
			<date>2010-08-10T16:00:00Z</date>
			<key>high</key>
			<real>10631.82</real>
			<key>low</key>
			<real>10339.630000000001</real>
			<key>open</key>
			<real>10631.82</real>
			<key>volume</key>
			<real>4511860000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10644.25</real>
			<key>close</key>
			<real>10644.25</real>
			<key>date</key>
			<date>2010-08-09T16:00:00Z</date>
			<key>high</key>
			<real>10717.210000000001</real>
			<key>low</key>
			<real>10522.630000000001</real>
			<key>open</key>
			<real>10696.630000000001</real>
			<key>volume</key>
			<real>3979360000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10698.75</real>
			<key>close</key>
			<real>10698.75</real>
			<key>date</key>
			<date>2010-08-08T16:00:00Z</date>
			<key>high</key>
			<real>10755.66</real>
			<key>low</key>
			<real>10618.26</real>
			<key>open</key>
			<real>10654.619999999999</real>
			<key>volume</key>
			<real>3191630000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10653.560000000001</real>
			<key>close</key>
			<real>10653.560000000001</real>
			<key>date</key>
			<date>2010-08-05T16:00:00Z</date>
			<key>high</key>
			<real>10688.08</real>
			<key>low</key>
			<real>10491.369999999999</real>
			<key>open</key>
			<real>10668.549999999999</real>
			<key>volume</key>
			<real>3857890000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10674.98</real>
			<key>close</key>
			<real>10674.98</real>
			<key>date</key>
			<date>2010-08-04T16:00:00Z</date>
			<key>high</key>
			<real>10712.369999999999</real>
			<key>low</key>
			<real>10571.6</real>
			<key>open</key>
			<real>10679.67</real>
			<key>volume</key>
			<real>3685560000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10680.43</real>
			<key>close</key>
			<real>10680.43</real>
			<key>date</key>
			<date>2010-08-03T16:00:00Z</date>
			<key>high</key>
			<real>10738.48</real>
			<key>low</key>
			<real>10583.1</real>
			<key>open</key>
			<real>10630.200000000001</real>
			<key>volume</key>
			<real>4057850000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10636.380000000001</real>
			<key>close</key>
			<real>10636.380000000001</real>
			<key>date</key>
			<date>2010-08-02T16:00:00Z</date>
			<key>high</key>
			<real>10714.189999999999</real>
			<key>low</key>
			<real>10564.18</real>
			<key>open</key>
			<real>10673.92</real>
			<key>volume</key>
			<real>4071820000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10674.380000000001</real>
			<key>close</key>
			<real>10674.380000000001</real>
			<key>date</key>
			<date>2010-08-01T16:00:00Z</date>
			<key>high</key>
			<real>10715.210000000001</real>
			<key>low</key>
			<real>10468.82</real>
			<key>open</key>
			<real>10468.82</real>
			<key>volume</key>
			<real>4144180000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10465.939999999999</real>
			<key>close</key>
			<real>10465.939999999999</real>
			<key>date</key>
			<date>2010-07-29T16:00:00Z</date>
			<key>high</key>
			<real>10528.84</real>
			<key>low</key>
			<real>10327.369999999999</real>
			<key>open</key>
			<real>10465.189999999999</real>
			<key>volume</key>
			<real>4006450000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10467.16</real>
			<key>close</key>
			<real>10467.16</real>
			<key>date</key>
			<date>2010-07-28T16:00:00Z</date>
			<key>high</key>
			<real>10609.74</real>
			<key>low</key>
			<real>10383.450000000001</real>
			<key>open</key>
			<real>10498.939999999999</real>
			<key>volume</key>
			<real>4612420000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10497.880000000001</real>
			<key>close</key>
			<real>10497.880000000001</real>
			<key>date</key>
			<date>2010-07-27T16:00:00Z</date>
			<key>high</key>
			<real>10586.360000000001</real>
			<key>low</key>
			<real>10445.17</real>
			<key>open</key>
			<real>10537.01</real>
			<key>volume</key>
			<real>4002390000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10537.689999999999</real>
			<key>close</key>
			<real>10537.689999999999</real>
			<key>date</key>
			<date>2010-07-26T16:00:00Z</date>
			<key>high</key>
			<real>10632.52</real>
			<key>low</key>
			<real>10460.65</real>
			<key>open</key>
			<real>10525.280000000001</real>
			<key>volume</key>
			<real>4725690000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10525.43</real>
			<key>close</key>
			<real>10525.43</real>
			<key>date</key>
			<date>2010-07-25T16:00:00Z</date>
			<key>high</key>
			<real>10545.939999999999</real>
			<key>low</key>
			<real>10391.02</real>
			<key>open</key>
			<real>10424.17</real>
			<key>volume</key>
			<real>4009650000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10424.619999999999</real>
			<key>close</key>
			<real>10424.619999999999</real>
			<key>date</key>
			<date>2010-07-22T16:00:00Z</date>
			<key>high</key>
			<real>10465.189999999999</real>
			<key>low</key>
			<real>10237.84</real>
			<key>open</key>
			<real>10321.16</real>
			<key>volume</key>
			<real>4524570000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10322.299999999999</real>
			<key>close</key>
			<real>10322.299999999999</real>
			<key>date</key>
			<date>2010-07-21T16:00:00Z</date>
			<key>high</key>
			<real>10391.780000000001</real>
			<key>low</key>
			<real>10121.810000000001</real>
			<key>open</key>
			<real>10121.810000000001</real>
			<key>volume</key>
			<real>4826900000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10120.530000000001</real>
			<key>close</key>
			<real>10120.530000000001</real>
			<key>date</key>
			<date>2010-07-20T16:00:00Z</date>
			<key>high</key>
			<real>10310.039999999999</real>
			<key>low</key>
			<real>10053.85</real>
			<key>open</key>
			<real>10226.02</real>
			<key>volume</key>
			<real>4747180000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10229.960000000001</real>
			<key>close</key>
			<real>10229.960000000001</real>
			<key>date</key>
			<date>2010-07-19T16:00:00Z</date>
			<key>high</key>
			<real>10248.200000000001</real>
			<key>low</key>
			<real>9973.1700000000001</real>
			<key>open</key>
			<real>10151.48</real>
			<key>volume</key>
			<real>4713280000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10154.43</real>
			<key>close</key>
			<real>10154.43</real>
			<key>date</key>
			<date>2010-07-18T16:00:00Z</date>
			<key>high</key>
			<real>10213.09</real>
			<key>low</key>
			<real>10051.280000000001</real>
			<key>open</key>
			<real>10098.119999999999</real>
			<key>volume</key>
			<real>4089500000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10097.9</real>
			<key>close</key>
			<real>10097.9</real>
			<key>date</key>
			<date>2010-07-15T16:00:00Z</date>
			<key>high</key>
			<real>10356.200000000001</real>
			<key>low</key>
			<real>10071.630000000001</real>
			<key>open</key>
			<real>10356.200000000001</real>
			<key>volume</key>
			<real>5297350000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10359.310000000001</real>
			<key>close</key>
			<real>10359.310000000001</real>
			<key>date</key>
			<date>2010-07-14T16:00:00Z</date>
			<key>high</key>
			<real>10409.49</real>
			<key>low</key>
			<real>10216.039999999999</real>
			<key>open</key>
			<real>10367.1</real>
			<key>volume</key>
			<real>4552470000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10366.719999999999</real>
			<key>close</key>
			<real>10366.719999999999</real>
			<key>date</key>
			<date>2010-07-13T16:00:00Z</date>
			<key>high</key>
			<real>10423.030000000001</real>
			<key>low</key>
			<real>10265.16</real>
			<key>open</key>
			<real>10370.960000000001</real>
			<key>volume</key>
			<real>4521050000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10363.02</real>
			<key>close</key>
			<real>10363.02</real>
			<key>date</key>
			<date>2010-07-12T16:00:00Z</date>
			<key>high</key>
			<real>10436.200000000001</real>
			<key>low</key>
			<real>10217.549999999999</real>
			<key>open</key>
			<real>10217.549999999999</real>
			<key>volume</key>
			<real>4640460000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10216.27</real>
			<key>close</key>
			<real>10216.27</real>
			<key>date</key>
			<date>2010-07-11T16:00:00Z</date>
			<key>high</key>
			<real>10260.619999999999</real>
			<key>low</key>
			<real>10121.130000000001</real>
			<key>open</key>
			<real>10199.24</real>
			<key>volume</key>
			<real>3426990000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10198.030000000001</real>
			<key>close</key>
			<real>10198.030000000001</real>
			<key>date</key>
			<date>2010-07-08T16:00:00Z</date>
			<key>high</key>
			<real>10226.48</real>
			<key>low</key>
			<real>10079.049999999999</real>
			<key>open</key>
			<real>10137.93</real>
			<key>volume</key>
			<real>3506570000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10138.99</real>
			<key>close</key>
			<real>10138.99</real>
			<key>date</key>
			<date>2010-07-07T16:00:00Z</date>
			<key>high</key>
			<real>10175.02</real>
			<key>low</key>
			<real>9987.0200000000004</real>
			<key>open</key>
			<real>10019.26</real>
			<key>volume</key>
			<real>4548460000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10018.280000000001</real>
			<key>close</key>
			<real>10018.280000000001</real>
			<key>date</key>
			<date>2010-07-06T16:00:00Z</date>
			<key>high</key>
			<real>10029.93</real>
			<key>low</key>
			<real>9716.380000000001</real>
			<key>open</key>
			<real>9736.8500000000004</real>
			<key>volume</key>
			<real>4931220000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9743.619999999999</real>
			<key>close</key>
			<real>9743.619999999999</real>
			<key>date</key>
			<date>2010-07-05T16:00:00Z</date>
			<key>high</key>
			<real>9880.7600000000002</real>
			<key>low</key>
			<real>9648.2600000000002</real>
			<key>open</key>
			<real>9689.2100000000009</real>
			<key>volume</key>
			<real>4691240000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9686.4799999999996</real>
			<key>close</key>
			<real>9686.4799999999996</real>
			<key>date</key>
			<date>2010-07-01T16:00:00Z</date>
			<key>high</key>
			<real>9798.1899999999987</real>
			<key>low</key>
			<real>9603.7999999999993</real>
			<key>open</key>
			<real>9732.2299999999996</real>
			<key>volume</key>
			<real>3968500000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9732.5300000000007</real>
			<key>close</key>
			<real>9732.5300000000007</real>
			<key>date</key>
			<date>2010-06-30T16:00:00Z</date>
			<key>high</key>
			<real>9834.7100000000009</real>
			<key>low</key>
			<real>9596.0399999999991</real>
			<key>open</key>
			<real>9773.2700000000004</real>
			<key>volume</key>
			<real>6435770000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9774.0200000000004</real>
			<key>close</key>
			<real>9774.0200000000004</real>
			<key>date</key>
			<date>2010-06-29T16:00:00Z</date>
			<key>high</key>
			<real>9951.4699999999993</real>
			<key>low</key>
			<real>9741.0699999999997</real>
			<key>open</key>
			<real>9868.3400000000001</real>
			<key>volume</key>
			<real>5067080000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9870.2999999999993</real>
			<key>close</key>
			<real>9870.2999999999993</real>
			<key>date</key>
			<date>2010-06-28T16:00:00Z</date>
			<key>high</key>
			<real>10135.719999999999</real>
			<key>low</key>
			<real>9786.4500000000007</real>
			<key>open</key>
			<real>10135.719999999999</real>
			<key>volume</key>
			<real>6136700000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10138.52</real>
			<key>close</key>
			<real>10138.52</real>
			<key>date</key>
			<date>2010-06-27T16:00:00Z</date>
			<key>high</key>
			<real>10246.82</real>
			<key>low</key>
			<real>10070.119999999999</real>
			<key>open</key>
			<real>10143.049999999999</real>
			<key>volume</key>
			<real>3896410000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10143.810000000001</real>
			<key>close</key>
			<real>10143.810000000001</real>
			<key>date</key>
			<date>2010-06-24T16:00:00Z</date>
			<key>high</key>
			<real>10261.1</real>
			<key>low</key>
			<real>10039.969999999999</real>
			<key>open</key>
			<real>10153.48</real>
			<key>volume</key>
			<real>5128840000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10152.799999999999</real>
			<key>close</key>
			<real>10152.799999999999</real>
			<key>date</key>
			<date>2010-06-23T16:00:00Z</date>
			<key>high</key>
			<real>10314.310000000001</real>
			<key>low</key>
			<real>10112.6</real>
			<key>open</key>
			<real>10297.08</real>
			<key>volume</key>
			<real>4814830000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10298.439999999999</real>
			<key>close</key>
			<real>10298.439999999999</real>
			<key>date</key>
			<date>2010-06-22T16:00:00Z</date>
			<key>high</key>
			<real>10393.889999999999</real>
			<key>low</key>
			<real>10195.810000000001</real>
			<key>open</key>
			<real>10293.299999999999</real>
			<key>volume</key>
			<real>4526150000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10293.52</real>
			<key>close</key>
			<real>10293.52</real>
			<key>date</key>
			<date>2010-06-21T16:00:00Z</date>
			<key>high</key>
			<real>10524.780000000001</real>
			<key>low</key>
			<real>10276.139999999999</real>
			<key>open</key>
			<real>10441.950000000001</real>
			<key>volume</key>
			<real>4514380000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10442.41</real>
			<key>close</key>
			<real>10442.41</real>
			<key>date</key>
			<date>2010-06-20T16:00:00Z</date>
			<key>high</key>
			<real>10627.189999999999</real>
			<key>low</key>
			<real>10387.539999999999</real>
			<key>open</key>
			<real>10452.460000000001</real>
			<key>volume</key>
			<real>4514360000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10450.639999999999</real>
			<key>close</key>
			<real>10450.639999999999</real>
			<key>date</key>
			<date>2010-06-17T16:00:00Z</date>
			<key>high</key>
			<real>10513.75</real>
			<key>low</key>
			<real>10379.6</real>
			<key>open</key>
			<real>10435</real>
			<key>volume</key>
			<real>4555360000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10434.17</real>
			<key>close</key>
			<real>10434.17</real>
			<key>date</key>
			<date>2010-06-16T16:00:00Z</date>
			<key>high</key>
			<real>10479.74</real>
			<key>low</key>
			<real>10293.49</real>
			<key>open</key>
			<real>10409.98</real>
			<key>volume</key>
			<real>4557760000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10409.460000000001</real>
			<key>close</key>
			<real>10409.460000000001</real>
			<key>date</key>
			<date>2010-06-15T16:00:00Z</date>
			<key>high</key>
			<real>10456.389999999999</real>
			<key>low</key>
			<real>10289.369999999999</real>
			<key>open</key>
			<real>10404.24</real>
			<key>volume</key>
			<real>5002600000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10404.77</real>
			<key>close</key>
			<real>10404.77</real>
			<key>date</key>
			<date>2010-06-14T16:00:00Z</date>
			<key>high</key>
			<real>10416.110000000001</real>
			<key>low</key>
			<real>10192.4</real>
			<key>open</key>
			<real>10192.4</real>
			<key>volume</key>
			<real>4644490000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10190.889999999999</real>
			<key>close</key>
			<real>10190.889999999999</real>
			<key>date</key>
			<date>2010-06-13T16:00:00Z</date>
			<key>high</key>
			<real>10354.969999999999</real>
			<key>low</key>
			<real>10175.02</real>
			<key>open</key>
			<real>10211.83</real>
			<key>volume</key>
			<real>4425830000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10211.07</real>
			<key>close</key>
			<real>10211.07</real>
			<key>date</key>
			<date>2010-06-10T16:00:00Z</date>
			<key>high</key>
			<real>10235.1</real>
			<key>low</key>
			<real>10038.310000000001</real>
			<key>open</key>
			<real>10166.780000000001</real>
			<key>volume</key>
			<real>4059280000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10172.530000000001</real>
			<key>close</key>
			<real>10172.530000000001</real>
			<key>date</key>
			<date>2010-06-09T16:00:00Z</date>
			<key>high</key>
			<real>10206.610000000001</real>
			<key>low</key>
			<real>9901.6700000000001</real>
			<key>open</key>
			<real>9901.6700000000001</real>
			<key>volume</key>
			<real>5144780000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9899.25</real>
			<key>close</key>
			<real>9899.25</real>
			<key>date</key>
			<date>2010-06-08T16:00:00Z</date>
			<key>high</key>
			<real>10093.33</real>
			<key>low</key>
			<real>9859.0399999999991</real>
			<key>open</key>
			<real>9941.5699999999997</real>
			<key>volume</key>
			<real>5983200000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9939.9799999999996</real>
			<key>close</key>
			<real>9939.9799999999996</real>
			<key>date</key>
			<date>2010-06-07T16:00:00Z</date>
			<key>high</key>
			<real>9971.5699999999997</real>
			<key>low</key>
			<real>9726.3299999999999</real>
			<key>open</key>
			<real>9812.9399999999987</real>
			<key>volume</key>
			<real>6192750000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9816.4899999999998</real>
			<key>close</key>
			<real>9816.4899999999998</real>
			<key>date</key>
			<date>2010-06-06T16:00:00Z</date>
			<key>high</key>
			<real>10025.84</real>
			<key>low</key>
			<real>9798.7299999999996</real>
			<key>open</key>
			<real>9931.75</real>
			<key>volume</key>
			<real>5467560000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9931.9699999999993</real>
			<key>close</key>
			<real>9931.9699999999993</real>
			<key>date</key>
			<date>2010-06-03T16:00:00Z</date>
			<key>high</key>
			<real>10249.610000000001</real>
			<key>low</key>
			<real>9881.1100000000006</real>
			<key>open</key>
			<real>10249.610000000001</real>
			<key>volume</key>
			<real>6180580000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10255.280000000001</real>
			<key>close</key>
			<real>10255.280000000001</real>
			<key>date</key>
			<date>2010-06-02T16:00:00Z</date>
			<key>high</key>
			<real>10348.84</real>
			<key>low</key>
			<real>10158.92</real>
			<key>open</key>
			<real>10250.67</real>
			<key>volume</key>
			<real>4995970000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10249.539999999999</real>
			<key>close</key>
			<real>10249.539999999999</real>
			<key>date</key>
			<date>2010-06-01T16:00:00Z</date>
			<key>high</key>
			<real>10256.57</real>
			<key>low</key>
			<real>10007.09</real>
			<key>open</key>
			<real>10025.610000000001</real>
			<key>volume</key>
			<real>5026360000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10024.02</real>
			<key>close</key>
			<real>10024.02</real>
			<key>date</key>
			<date>2010-05-31T16:00:00Z</date>
			<key>high</key>
			<real>10249.27</real>
			<key>low</key>
			<real>9976.5600000000013</real>
			<key>open</key>
			<real>10133.939999999999</real>
			<key>volume</key>
			<real>5271480000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10136.630000000001</real>
			<key>close</key>
			<real>10136.630000000001</real>
			<key>date</key>
			<date>2010-05-27T16:00:00Z</date>
			<key>high</key>
			<real>10293.450000000001</real>
			<key>low</key>
			<real>10078.66</real>
			<key>open</key>
			<real>10258</real>
			<key>volume</key>
			<real>4871210000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10258.99</real>
			<key>close</key>
			<real>10258.99</real>
			<key>date</key>
			<date>2010-05-26T16:00:00Z</date>
			<key>high</key>
			<real>10279.01</real>
			<key>low</key>
			<real>9971.7299999999996</real>
			<key>open</key>
			<real>9971.7299999999996</real>
			<key>volume</key>
			<real>5698460000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>9974.4500000000007</real>
			<key>close</key>
			<real>9974.4500000000007</real>
			<key>date</key>
			<date>2010-05-25T16:00:00Z</date>
			<key>high</key>
			<real>10211.6</real>
			<key>low</key>
			<real>9937.7899999999991</real>
			<key>open</key>
			<real>10045.110000000001</real>
			<key>volume</key>
			<real>4521050000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10043.75</real>
			<key>close</key>
			<real>10043.75</real>
			<key>date</key>
			<date>2010-05-24T16:00:00Z</date>
			<key>high</key>
			<real>10061.43</real>
			<key>low</key>
			<real>9756.1100000000006</real>
			<key>open</key>
			<real>10061.43</real>
			<key>volume</key>
			<real>7329580000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10066.57</real>
			<key>close</key>
			<real>10066.57</real>
			<key>date</key>
			<date>2010-05-23T16:00:00Z</date>
			<key>high</key>
			<real>10235.630000000001</real>
			<key>low</key>
			<real>10028.780000000001</real>
			<key>open</key>
			<real>10193.460000000001</real>
			<key>volume</key>
			<real>5224040000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10193.389999999999</real>
			<key>close</key>
			<real>10193.389999999999</real>
			<key>date</key>
			<date>2010-05-20T16:00:00Z</date>
			<key>high</key>
			<real>10225.880000000001</real>
			<key>low</key>
			<real>9860.9300000000003</real>
			<key>open</key>
			<real>10063.93</real>
			<key>volume</key>
			<real>5452130000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10068.01</real>
			<key>close</key>
			<real>10068.01</real>
			<key>date</key>
			<date>2010-05-19T16:00:00Z</date>
			<key>high</key>
			<real>10440.210000000001</real>
			<key>low</key>
			<real>10042.460000000001</real>
			<key>open</key>
			<real>10440.210000000001</real>
			<key>volume</key>
			<real>8328569600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10444.369999999999</real>
			<key>close</key>
			<real>10444.369999999999</real>
			<key>date</key>
			<date>2010-05-18T16:00:00Z</date>
			<key>high</key>
			<real>10558.560000000001</real>
			<key>low</key>
			<real>10306.219999999999</real>
			<key>open</key>
			<real>10505.700000000001</real>
			<key>volume</key>
			<real>6765800000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10510.950000000001</real>
			<key>close</key>
			<real>10510.950000000001</real>
			<key>date</key>
			<date>2010-05-17T16:00:00Z</date>
			<key>high</key>
			<real>10760.049999999999</real>
			<key>low</key>
			<real>10463.15</real>
			<key>open</key>
			<real>10625.450000000001</real>
			<key>volume</key>
			<real>6170840000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>10625.83</real>
			<key>close</key>
			<real>10625.83</real>
			<key>date</key>
			<date>2010-05-16T16:00:00Z</date>
			<key>high</key>
			<real>10707.299999999999</real>
			<key>low</key>
			<real>10424.719999999999</real>
			<key>open</key>
			<real>10616.98</real>
			<key>volume</key>
			<real>5922920000</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>10760.049999999999</real>
	<key>overallLow</key>
	<real>9596.0399999999991</real>
	<key>startDate</key>
	<date>2010-05-14T17:18:41Z</date>
	<key>symbol</key>
	<string>^DJI</string>
</dict>
</plist>
