<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2010-08-20T17:18:41Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>467.96999999999997</real>
			<key>close</key>
			<real>467.96999999999997</real>
			<key>date</key>
			<date>2010-08-18T16:00:00Z</date>
			<key>high</key>
			<real>482.51000000000005</real>
			<key>low</key>
			<real>467.25</real>
			<key>open</key>
			<real>481.01000000000005</real>
			<key>volume</key>
			<real>3925000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>482.14999999999998</real>
			<key>close</key>
			<real>482.14999999999998</real>
			<key>date</key>
			<date>2010-08-17T16:00:00Z</date>
			<key>high</key>
			<real>490.87</real>
			<key>low</key>
			<real>481.55000000000001</real>
			<key>open</key>
			<real>490.43999999999994</real>
			<key>volume</key>
			<real>2671400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>490.51999999999998</real>
			<key>close</key>
			<real>490.51999999999998</real>
			<key>date</key>
			<date>2010-08-16T16:00:00Z</date>
			<key>high</key>
			<real>494.69999999999999</real>
			<key>low</key>
			<real>486.03000000000003</real>
			<key>open</key>
			<real>488.53000000000003</real>
			<key>volume</key>
			<real>1890700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>485.58999999999997</real>
			<key>close</key>
			<real>485.58999999999997</real>
			<key>date</key>
			<date>2010-08-15T16:00:00Z</date>
			<key>high</key>
			<real>489.87</real>
			<key>low</key>
			<real>480.5</real>
			<key>open</key>
			<real>483.68000000000001</real>
			<key>volume</key>
			<real>1305000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>486.35000000000002</real>
			<key>close</key>
			<real>486.35000000000002</real>
			<key>date</key>
			<date>2010-08-12T16:00:00Z</date>
			<key>high</key>
			<real>491.18999999999994</real>
			<key>low</key>
			<real>486.01000000000005</real>
			<key>open</key>
			<real>489</real>
			<key>volume</key>
			<real>1934700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>492.01000000000005</real>
			<key>close</key>
			<real>492.01000000000005</real>
			<key>date</key>
			<date>2010-08-11T16:00:00Z</date>
			<key>high</key>
			<real>494.75</real>
			<key>low</key>
			<real>482.51000000000005</real>
			<key>open</key>
			<real>483.93999999999994</real>
			<key>volume</key>
			<real>2204600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>491.73999999999995</real>
			<key>close</key>
			<real>491.73999999999995</real>
			<key>date</key>
			<date>2010-08-10T16:00:00Z</date>
			<key>high</key>
			<real>498</real>
			<key>low</key>
			<real>491.5</real>
			<key>open</key>
			<real>497.73000000000002</real>
			<key>volume</key>
			<real>2223000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>503.71000000000004</real>
			<key>close</key>
			<real>503.71000000000004</real>
			<key>date</key>
			<date>2010-08-09T16:00:00Z</date>
			<key>high</key>
			<real>506</real>
			<key>low</key>
			<real>498.56999999999999</real>
			<key>open</key>
			<real>502.35000000000002</real>
			<key>volume</key>
			<real>2074000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>505.35000000000002</real>
			<key>close</key>
			<real>505.35000000000002</real>
			<key>date</key>
			<date>2010-08-08T16:00:00Z</date>
			<key>high</key>
			<real>505.5</real>
			<key>low</key>
			<real>501.36000000000001</real>
			<key>open</key>
			<real>502.25</real>
			<key>volume</key>
			<real>1872200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>500.21999999999997</real>
			<key>close</key>
			<real>500.21999999999997</real>
			<key>date</key>
			<date>2010-08-05T16:00:00Z</date>
			<key>high</key>
			<real>505.73999999999995</real>
			<key>low</key>
			<real>496.05000000000001</real>
			<key>open</key>
			<real>505.39999999999998</real>
			<key>volume</key>
			<real>3319500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>508.10000000000002</real>
			<key>close</key>
			<real>508.10000000000002</real>
			<key>date</key>
			<date>2010-08-04T16:00:00Z</date>
			<key>high</key>
			<real>508.60000000000002</real>
			<key>low</key>
			<real>503.56000000000006</real>
			<key>open</key>
			<real>505.88999999999999</real>
			<key>volume</key>
			<real>2420400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>506.31999999999999</real>
			<key>close</key>
			<real>506.31999999999999</real>
			<key>date</key>
			<date>2010-08-03T16:00:00Z</date>
			<key>high</key>
			<real>507</real>
			<key>low</key>
			<real>491.05000000000001</real>
			<key>open</key>
			<real>492.18000000000001</real>
			<key>volume</key>
			<real>3812500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>489.83000000000004</real>
			<key>close</key>
			<real>489.83000000000004</real>
			<key>date</key>
			<date>2010-08-02T16:00:00Z</date>
			<key>high</key>
			<real>492.46000000000004</real>
			<key>low</key>
			<real>486.76000000000005</real>
			<key>open</key>
			<real>490.5</real>
			<key>volume</key>
			<real>1802300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>490.41000000000003</real>
			<key>close</key>
			<real>490.41000000000003</real>
			<key>date</key>
			<date>2010-08-01T16:00:00Z</date>
			<key>high</key>
			<real>493.28000000000003</real>
			<key>low</key>
			<real>486.93999999999994</real>
			<key>open</key>
			<real>488.98999999999995</real>
			<key>volume</key>
			<real>1858700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>484.85000000000002</real>
			<key>close</key>
			<real>484.85000000000002</real>
			<key>date</key>
			<date>2010-07-29T16:00:00Z</date>
			<key>high</key>
			<real>487.36000000000001</real>
			<key>low</key>
			<real>479.13999999999999</real>
			<key>open</key>
			<real>479.64999999999998</real>
			<key>volume</key>
			<real>2144100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>484.98999999999995</real>
			<key>close</key>
			<real>484.98999999999995</real>
			<key>date</key>
			<date>2010-07-28T16:00:00Z</date>
			<key>high</key>
			<real>488.88</real>
			<key>low</key>
			<real>479.33000000000004</real>
			<key>open</key>
			<real>485.94999999999999</real>
			<key>volume</key>
			<real>2675500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>484.35000000000002</real>
			<key>close</key>
			<real>484.35000000000002</real>
			<key>date</key>
			<date>2010-07-27T16:00:00Z</date>
			<key>high</key>
			<real>495.25</real>
			<key>low</key>
			<real>482.66999999999996</real>
			<key>open</key>
			<real>494.93999999999994</real>
			<key>volume</key>
			<real>2496000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>492.63</real>
			<key>close</key>
			<real>492.63</real>
			<key>date</key>
			<date>2010-07-26T16:00:00Z</date>
			<key>high</key>
			<real>497.5</real>
			<key>low</key>
			<real>490.16999999999996</real>
			<key>open</key>
			<real>490.58000000000004</real>
			<key>volume</key>
			<real>2451200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>488.96999999999997</real>
			<key>close</key>
			<real>488.96999999999997</real>
			<key>date</key>
			<date>2010-07-25T16:00:00Z</date>
			<key>high</key>
			<real>490.75</real>
			<key>low</key>
			<real>484.88</real>
			<key>open</key>
			<real>489.08999999999997</real>
			<key>volume</key>
			<real>1995200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>490.06000000000006</real>
			<key>close</key>
			<real>490.06000000000006</real>
			<key>date</key>
			<date>2010-07-22T16:00:00Z</date>
			<key>high</key>
			<real>490.58999999999997</real>
			<key>low</key>
			<real>480.01000000000005</real>
			<key>open</key>
			<real>480.76999999999998</real>
			<key>volume</key>
			<real>2264400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>484.81000000000006</real>
			<key>close</key>
			<real>484.81000000000006</real>
			<key>date</key>
			<date>2010-07-21T16:00:00Z</date>
			<key>high</key>
			<real>488.98000000000002</real>
			<key>low</key>
			<real>482.48000000000002</real>
			<key>open</key>
			<real>483.23000000000002</real>
			<key>volume</key>
			<real>2147700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>477.5</real>
			<key>close</key>
			<real>477.5</real>
			<key>date</key>
			<date>2010-07-20T16:00:00Z</date>
			<key>high</key>
			<real>485.69999999999999</real>
			<key>low</key>
			<real>475.43000000000001</real>
			<key>open</key>
			<real>484</real>
			<key>volume</key>
			<real>3279600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>481.58999999999997</real>
			<key>close</key>
			<real>481.58999999999997</real>
			<key>date</key>
			<date>2010-07-19T16:00:00Z</date>
			<key>high</key>
			<real>482.98999999999995</real>
			<key>low</key>
			<real>460.60000000000002</real>
			<key>open</key>
			<real>461.03000000000003</real>
			<key>volume</key>
			<real>4054500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>466.18000000000001</real>
			<key>close</key>
			<real>466.18000000000001</real>
			<key>date</key>
			<date>2010-07-18T16:00:00Z</date>
			<key>high</key>
			<real>469.64999999999998</real>
			<key>low</key>
			<real>457.51999999999998</real>
			<key>open</key>
			<real>461.01000000000005</real>
			<key>volume</key>
			<real>4550300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>459.61000000000001</real>
			<key>close</key>
			<real>459.61000000000001</real>
			<key>date</key>
			<date>2010-07-15T16:00:00Z</date>
			<key>high</key>
			<real>470.56000000000006</real>
			<key>low</key>
			<real>459.51999999999998</real>
			<key>open</key>
			<real>469.12</real>
			<key>volume</key>
			<real>7824800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>494.01999999999998</real>
			<key>close</key>
			<real>494.01999999999998</real>
			<key>date</key>
			<date>2010-07-14T16:00:00Z</date>
			<key>high</key>
			<real>494.69999999999999</real>
			<key>low</key>
			<real>482.68000000000001</real>
			<key>open</key>
			<real>491.73000000000002</real>
			<key>volume</key>
			<real>4845100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>491.33999999999997</real>
			<key>close</key>
			<real>491.33999999999997</real>
			<key>date</key>
			<date>2010-07-13T16:00:00Z</date>
			<key>high</key>
			<real>493.83000000000004</real>
			<key>low</key>
			<real>486.46000000000004</real>
			<key>open</key>
			<real>489.88</real>
			<key>volume</key>
			<real>3118000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>489.19999999999999</real>
			<key>close</key>
			<real>489.19999999999999</real>
			<key>date</key>
			<date>2010-07-12T16:00:00Z</date>
			<key>high</key>
			<real>492.98999999999995</real>
			<key>low</key>
			<real>480.28000000000003</real>
			<key>open</key>
			<real>482.25</real>
			<key>volume</key>
			<real>3976300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>475.83000000000004</real>
			<key>close</key>
			<real>475.83000000000004</real>
			<key>date</key>
			<date>2010-07-11T16:00:00Z</date>
			<key>high</key>
			<real>479.43999999999994</real>
			<key>low</key>
			<real>471.08000000000004</real>
			<key>open</key>
			<real>472.37</real>
			<key>volume</key>
			<real>3334400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>467.48999999999995</real>
			<key>close</key>
			<real>467.48999999999995</real>
			<key>date</key>
			<date>2010-07-08T16:00:00Z</date>
			<key>high</key>
			<real>473.26000000000005</real>
			<key>low</key>
			<real>462.78000000000003</real>
			<key>open</key>
			<real>471.96000000000004</real>
			<key>volume</key>
			<real>4331500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>456.56000000000006</real>
			<key>close</key>
			<real>456.56000000000006</real>
			<key>date</key>
			<date>2010-07-07T16:00:00Z</date>
			<key>high</key>
			<real>457.33000000000004</real>
			<key>low</key>
			<real>449.66000000000003</real>
			<key>open</key>
			<real>453.55000000000001</real>
			<key>volume</key>
			<real>2668900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>450.19999999999999</real>
			<key>close</key>
			<real>450.19999999999999</real>
			<key>date</key>
			<date>2010-07-06T16:00:00Z</date>
			<key>high</key>
			<real>451.28999999999996</real>
			<key>low</key>
			<real>435.38</real>
			<key>open</key>
			<real>438.31000000000006</real>
			<key>volume</key>
			<real>3129700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>436.06999999999999</real>
			<key>close</key>
			<real>436.06999999999999</real>
			<key>date</key>
			<date>2010-07-05T16:00:00Z</date>
			<key>high</key>
			<real>447.66999999999996</real>
			<key>low</key>
			<real>433.63</real>
			<key>open</key>
			<real>444</real>
			<key>volume</key>
			<real>2560100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>436.55000000000001</real>
			<key>close</key>
			<real>436.55000000000001</real>
			<key>date</key>
			<date>2010-07-01T16:00:00Z</date>
			<key>high</key>
			<real>442.28000000000003</real>
			<key>low</key>
			<real>436</real>
			<key>open</key>
			<real>441.62</real>
			<key>volume</key>
			<real>1936000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>439.48999999999995</real>
			<key>close</key>
			<real>439.48999999999995</real>
			<key>date</key>
			<date>2010-06-30T16:00:00Z</date>
			<key>high</key>
			<real>448.39999999999998</real>
			<key>low</key>
			<real>433.63</real>
			<key>open</key>
			<real>445.28999999999996</real>
			<key>volume</key>
			<real>3513600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>444.94999999999999</real>
			<key>close</key>
			<real>444.94999999999999</real>
			<key>date</key>
			<date>2010-06-29T16:00:00Z</date>
			<key>high</key>
			<real>457.83000000000004</real>
			<key>low</key>
			<real>444.71999999999997</real>
			<key>open</key>
			<real>454.96000000000004</real>
			<key>volume</key>
			<real>3603200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>454.26000000000005</real>
			<key>close</key>
			<real>454.26000000000005</real>
			<key>date</key>
			<date>2010-06-28T16:00:00Z</date>
			<key>high</key>
			<real>464.55000000000001</real>
			<key>low</key>
			<real>451.12</real>
			<key>open</key>
			<real>463.43999999999994</real>
			<key>volume</key>
			<real>3502100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>472.08000000000004</real>
			<key>close</key>
			<real>472.08000000000004</real>
			<key>date</key>
			<date>2010-06-27T16:00:00Z</date>
			<key>high</key>
			<real>477.55000000000001</real>
			<key>low</key>
			<real>469.01000000000005</real>
			<key>open</key>
			<real>472.58999999999997</real>
			<key>volume</key>
			<real>1762300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>472.68000000000001</real>
			<key>close</key>
			<real>472.68000000000001</real>
			<key>date</key>
			<date>2010-06-24T16:00:00Z</date>
			<key>high</key>
			<real>477.64999999999998</real>
			<key>low</key>
			<real>470.56000000000006</real>
			<key>open</key>
			<real>477.06000000000006</real>
			<key>volume</key>
			<real>2245200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>475.10000000000002</real>
			<key>close</key>
			<real>475.10000000000002</real>
			<key>date</key>
			<date>2010-06-23T16:00:00Z</date>
			<key>high</key>
			<real>482.75</real>
			<key>low</key>
			<real>473.26000000000005</real>
			<key>open</key>
			<real>479.66000000000003</real>
			<key>volume</key>
			<real>1893600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>482.05000000000001</real>
			<key>close</key>
			<real>482.05000000000001</real>
			<key>date</key>
			<date>2010-06-22T16:00:00Z</date>
			<key>high</key>
			<real>486.88999999999999</real>
			<key>low</key>
			<real>478.16000000000003</real>
			<key>open</key>
			<real>486.88999999999999</real>
			<key>volume</key>
			<real>2029100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>486.25</real>
			<key>close</key>
			<real>486.25</real>
			<key>date</key>
			<date>2010-06-21T16:00:00Z</date>
			<key>high</key>
			<real>496.60000000000002</real>
			<key>low</key>
			<real>485.73000000000002</real>
			<key>open</key>
			<real>489.89999999999998</real>
			<key>volume</key>
			<real>2219700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>488.56000000000006</real>
			<key>close</key>
			<real>488.56000000000006</real>
			<key>date</key>
			<date>2010-06-20T16:00:00Z</date>
			<key>high</key>
			<real>500.96999999999997</real>
			<key>low</key>
			<real>484.88999999999999</real>
			<key>open</key>
			<real>499.89999999999998</real>
			<key>volume</key>
			<real>2983500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>500.03000000000003</real>
			<key>close</key>
			<real>500.03000000000003</real>
			<key>date</key>
			<date>2010-06-17T16:00:00Z</date>
			<key>high</key>
			<real>503.46999999999997</real>
			<key>low</key>
			<real>498.13</real>
			<key>open</key>
			<real>502.51000000000005</real>
			<key>volume</key>
			<real>2872900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>500.08000000000004</real>
			<key>close</key>
			<real>500.08000000000004</real>
			<key>date</key>
			<date>2010-06-16T16:00:00Z</date>
			<key>high</key>
			<real>505.87</real>
			<key>low</key>
			<real>496.68999999999994</real>
			<key>open</key>
			<real>503.44999999999999</real>
			<key>volume</key>
			<real>1977300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>501.26999999999998</real>
			<key>close</key>
			<real>501.26999999999998</real>
			<key>date</key>
			<date>2010-06-15T16:00:00Z</date>
			<key>high</key>
			<real>504</real>
			<key>low</key>
			<real>496.11000000000001</real>
			<key>open</key>
			<real>496.16999999999996</real>
			<key>volume</key>
			<real>2289300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>497.98999999999995</real>
			<key>close</key>
			<real>497.98999999999995</real>
			<key>date</key>
			<date>2010-06-14T16:00:00Z</date>
			<key>high</key>
			<real>500.39999999999998</real>
			<key>low</key>
			<real>482.18000000000001</real>
			<key>open</key>
			<real>483.08000000000004</real>
			<key>volume</key>
			<real>4259600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>483.18999999999994</real>
			<key>close</key>
			<real>483.18999999999994</real>
			<key>date</key>
			<date>2010-06-13T16:00:00Z</date>
			<key>high</key>
			<real>494.5</real>
			<key>low</key>
			<real>483.18999999999994</real>
			<key>open</key>
			<real>494.48000000000002</real>
			<key>volume</key>
			<real>2040400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>488.5</real>
			<key>close</key>
			<real>488.5</real>
			<key>date</key>
			<date>2010-06-10T16:00:00Z</date>
			<key>high</key>
			<real>488.71000000000004</real>
			<key>low</key>
			<real>481.62</real>
			<key>open</key>
			<real>482.5</real>
			<key>volume</key>
			<real>1781700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>487.01000000000005</real>
			<key>close</key>
			<real>487.01000000000005</real>
			<key>date</key>
			<date>2010-06-09T16:00:00Z</date>
			<key>high</key>
			<real>488.5</real>
			<key>low</key>
			<real>475.83999999999997</real>
			<key>open</key>
			<real>480.37</real>
			<key>volume</key>
			<real>2577900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>474.01999999999998</real>
			<key>close</key>
			<real>474.01999999999998</real>
			<key>date</key>
			<date>2010-06-08T16:00:00Z</date>
			<key>high</key>
			<real>488.88</real>
			<key>low</key>
			<real>472</real>
			<key>open</key>
			<real>487.21999999999997</real>
			<key>volume</key>
			<real>2729000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>484.78000000000003</real>
			<key>close</key>
			<real>484.78000000000003</real>
			<key>date</key>
			<date>2010-06-07T16:00:00Z</date>
			<key>high</key>
			<real>488.83999999999997</real>
			<key>low</key>
			<real>477.53999999999996</real>
			<key>open</key>
			<real>487.85000000000002</real>
			<key>volume</key>
			<real>2685100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>485.51999999999998</real>
			<key>close</key>
			<real>485.51999999999998</real>
			<key>date</key>
			<date>2010-06-06T16:00:00Z</date>
			<key>high</key>
			<real>500.91000000000003</real>
			<key>low</key>
			<real>483.14999999999998</real>
			<key>open</key>
			<real>499.06000000000006</real>
			<key>volume</key>
			<real>3632700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>498.71999999999997</real>
			<key>close</key>
			<real>498.71999999999997</real>
			<key>date</key>
			<date>2010-06-03T16:00:00Z</date>
			<key>high</key>
			<real>509.25</real>
			<key>low</key>
			<real>496.69999999999999</real>
			<key>open</key>
			<real>499.71999999999997</real>
			<key>volume</key>
			<real>3920300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>505.60000000000002</real>
			<key>close</key>
			<real>505.60000000000002</real>
			<key>date</key>
			<date>2010-06-02T16:00:00Z</date>
			<key>high</key>
			<real>508</real>
			<key>low</key>
			<real>494.69999999999999</real>
			<key>open</key>
			<real>495.11000000000001</real>
			<key>volume</key>
			<real>3650700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>493.37</real>
			<key>close</key>
			<real>493.37</real>
			<key>date</key>
			<date>2010-06-01T16:00:00Z</date>
			<key>high</key>
			<real>493.87</real>
			<key>low</key>
			<real>481.46000000000004</real>
			<key>open</key>
			<real>486.68000000000001</real>
			<key>volume</key>
			<real>2540800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>482.37</real>
			<key>close</key>
			<real>482.37</real>
			<key>date</key>
			<date>2010-05-31T16:00:00Z</date>
			<key>high</key>
			<real>491.06000000000006</real>
			<key>low</key>
			<real>480.12</real>
			<key>open</key>
			<real>480.43000000000001</real>
			<key>volume</key>
			<real>2666800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>485.63</real>
			<key>close</key>
			<real>485.63</real>
			<key>date</key>
			<date>2010-05-27T16:00:00Z</date>
			<key>high</key>
			<real>493.44999999999999</real>
			<key>low</key>
			<real>483</real>
			<key>open</key>
			<real>492.73999999999995</real>
			<key>volume</key>
			<real>2894800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>490.46000000000004</real>
			<key>close</key>
			<real>490.46000000000004</real>
			<key>date</key>
			<date>2010-05-26T16:00:00Z</date>
			<key>high</key>
			<real>492.31000000000006</real>
			<key>low</key>
			<real>481.05000000000001</real>
			<key>open</key>
			<real>484.94999999999999</real>
			<key>volume</key>
			<real>2809100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>475.46999999999997</real>
			<key>close</key>
			<real>475.46999999999997</real>
			<key>date</key>
			<date>2010-05-25T16:00:00Z</date>
			<key>high</key>
			<real>489.76000000000005</real>
			<key>low</key>
			<real>475</real>
			<key>open</key>
			<real>482.06999999999999</real>
			<key>volume</key>
			<real>3475600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>477.06999999999999</real>
			<key>close</key>
			<real>477.06999999999999</real>
			<key>date</key>
			<date>2010-05-24T16:00:00Z</date>
			<key>high</key>
			<real>477.44999999999999</real>
			<key>low</key>
			<real>464.01000000000005</real>
			<key>open</key>
			<real>468.14999999999998</real>
			<key>volume</key>
			<real>3017400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>477.16000000000003</real>
			<key>close</key>
			<real>477.16000000000003</real>
			<key>date</key>
			<date>2010-05-23T16:00:00Z</date>
			<key>high</key>
			<real>489.78999999999996</real>
			<key>low</key>
			<real>476.80000000000001</real>
			<key>open</key>
			<real>480.73000000000002</real>
			<key>volume</key>
			<real>4345600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>472.05000000000001</real>
			<key>close</key>
			<real>472.05000000000001</real>
			<key>date</key>
			<date>2010-05-20T16:00:00Z</date>
			<key>high</key>
			<real>485</real>
			<key>low</key>
			<real>464.39999999999998</real>
			<key>open</key>
			<real>469.06000000000006</real>
			<key>volume</key>
			<real>9690800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>475.01000000000005</real>
			<key>close</key>
			<real>475.01000000000005</real>
			<key>date</key>
			<date>2010-05-19T16:00:00Z</date>
			<key>high</key>
			<real>485.58000000000004</real>
			<key>low</key>
			<real>473.80000000000001</real>
			<key>open</key>
			<real>485.06999999999999</real>
			<key>volume</key>
			<real>4913300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>494.43000000000001</real>
			<key>close</key>
			<real>494.43000000000001</real>
			<key>date</key>
			<date>2010-05-18T16:00:00Z</date>
			<key>high</key>
			<real>499.43999999999994</real>
			<key>low</key>
			<real>487.73999999999995</real>
			<key>open</key>
			<real>496.26000000000005</real>
			<key>volume</key>
			<real>3445700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>498.37</real>
			<key>close</key>
			<real>498.37</real>
			<key>date</key>
			<date>2010-05-17T16:00:00Z</date>
			<key>high</key>
			<real>510.96999999999997</real>
			<key>low</key>
			<real>497.06999999999999</real>
			<key>open</key>
			<real>510</real>
			<key>volume</key>
			<real>2825500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>507.96999999999997</real>
			<key>close</key>
			<real>507.96999999999997</real>
			<key>date</key>
			<date>2010-05-16T16:00:00Z</date>
			<key>high</key>
			<real>508.36000000000001</real>
			<key>low</key>
			<real>498.35000000000002</real>
			<key>open</key>
			<real>506.78000000000003</real>
			<key>volume</key>
			<real>2793800</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>510.96999999999997</real>
	<key>overallLow</key>
	<real>433.63</real>
	<key>startDate</key>
	<date>2010-05-14T17:18:41Z</date>
	<key>symbol</key>
	<string>GOOG</string>
</dict>
</plist>
