<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2010-08-20T17:18:41Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>24.440000000000001</real>
			<key>close</key>
			<real>24.440000000000001</real>
			<key>date</key>
			<date>2010-08-18T16:00:00Z</date>
			<key>high</key>
			<real>24.740000000000002</real>
			<key>low</key>
			<real>24.210000000000001</real>
			<key>open</key>
			<real>24.619999999999997</real>
			<key>volume</key>
			<real>54064600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.82</real>
			<key>close</key>
			<real>24.82</real>
			<key>date</key>
			<date>2010-08-17T16:00:00Z</date>
			<key>high</key>
			<real>24.949999999999999</real>
			<key>low</key>
			<real>24.41</real>
			<key>open</key>
			<real>24.68</real>
			<key>volume</key>
			<real>46818900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.710000000000001</real>
			<key>close</key>
			<real>24.710000000000001</real>
			<key>date</key>
			<date>2010-08-16T16:00:00Z</date>
			<key>high</key>
			<real>24.960000000000001</real>
			<key>low</key>
			<real>24.600000000000001</real>
			<key>open</key>
			<real>24.710000000000001</real>
			<key>volume</key>
			<real>52912600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.369999999999997</real>
			<key>close</key>
			<real>24.5</real>
			<key>date</key>
			<date>2010-08-15T16:00:00Z</date>
			<key>high</key>
			<real>24.609999999999999</real>
			<key>low</key>
			<real>24.300000000000001</real>
			<key>open</key>
			<real>24.359999999999999</real>
			<key>volume</key>
			<real>40909700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.27</real>
			<key>close</key>
			<real>24.399999999999999</real>
			<key>date</key>
			<date>2010-08-12T16:00:00Z</date>
			<key>high</key>
			<real>24.669999999999998</real>
			<key>low</key>
			<real>24.240000000000002</real>
			<key>open</key>
			<real>24.350000000000001</real>
			<key>volume</key>
			<real>45263500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.359999999999999</real>
			<key>close</key>
			<real>24.490000000000002</real>
			<key>date</key>
			<date>2010-08-11T16:00:00Z</date>
			<key>high</key>
			<real>24.68</real>
			<key>low</key>
			<real>24.359999999999999</real>
			<key>open</key>
			<real>24.419999999999998</real>
			<key>volume</key>
			<real>70240500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.73</real>
			<key>close</key>
			<real>24.859999999999999</real>
			<key>date</key>
			<date>2010-08-10T16:00:00Z</date>
			<key>high</key>
			<real>24.899999999999999</real>
			<key>low</key>
			<real>24.559999999999999</real>
			<key>open</key>
			<real>24.68</real>
			<key>volume</key>
			<real>76746900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.940000000000001</real>
			<key>close</key>
			<real>25.07</real>
			<key>date</key>
			<date>2010-08-09T16:00:00Z</date>
			<key>high</key>
			<real>25.34</real>
			<key>low</key>
			<real>24.880000000000003</real>
			<key>open</key>
			<real>25.330000000000002</real>
			<key>volume</key>
			<real>87257700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.469999999999999</real>
			<key>close</key>
			<real>25.610000000000003</real>
			<key>date</key>
			<date>2010-08-08T16:00:00Z</date>
			<key>high</key>
			<real>25.73</real>
			<key>low</key>
			<real>25.369999999999997</real>
			<key>open</key>
			<real>25.550000000000001</real>
			<key>volume</key>
			<real>57096500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.41</real>
			<key>close</key>
			<real>25.550000000000001</real>
			<key>date</key>
			<date>2010-08-05T16:00:00Z</date>
			<key>high</key>
			<real>25.559999999999999</real>
			<key>low</key>
			<real>25.02</real>
			<key>open</key>
			<real>25.18</real>
			<key>volume</key>
			<real>55982100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.240000000000002</real>
			<key>close</key>
			<real>25.369999999999997</real>
			<key>date</key>
			<date>2010-08-04T16:00:00Z</date>
			<key>high</key>
			<real>25.580000000000002</real>
			<key>low</key>
			<real>25.210000000000001</real>
			<key>open</key>
			<real>25.490000000000002</real>
			<key>volume</key>
			<real>64922100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.59</real>
			<key>close</key>
			<real>25.73</real>
			<key>date</key>
			<date>2010-08-03T16:00:00Z</date>
			<key>high</key>
			<real>26.239999999999998</real>
			<key>low</key>
			<real>25.440000000000001</real>
			<key>open</key>
			<real>26.149999999999999</real>
			<key>volume</key>
			<real>78531900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.02</real>
			<key>close</key>
			<real>26.160000000000004</real>
			<key>date</key>
			<date>2010-08-02T16:00:00Z</date>
			<key>high</key>
			<real>26.350000000000001</real>
			<key>low</key>
			<real>25.969999999999999</real>
			<key>open</key>
			<real>26.199999999999999</real>
			<key>volume</key>
			<real>56877700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.189999999999998</real>
			<key>close</key>
			<real>26.330000000000002</real>
			<key>date</key>
			<date>2010-08-01T16:00:00Z</date>
			<key>high</key>
			<real>26.380000000000003</real>
			<key>low</key>
			<real>25.75</real>
			<key>open</key>
			<real>25.989999999999998</real>
			<key>volume</key>
			<real>55044600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.669999999999998</real>
			<key>close</key>
			<real>25.810000000000002</real>
			<key>date</key>
			<date>2010-07-29T16:00:00Z</date>
			<key>high</key>
			<real>25.839999999999996</real>
			<key>low</key>
			<real>25.350000000000001</real>
			<key>open</key>
			<real>25.75</real>
			<key>volume</key>
			<real>83534800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.889999999999997</real>
			<key>close</key>
			<real>26.030000000000001</real>
			<key>date</key>
			<date>2010-07-28T16:00:00Z</date>
			<key>high</key>
			<real>26.410000000000004</real>
			<key>low</key>
			<real>25.600000000000001</real>
			<key>open</key>
			<real>26.130000000000003</real>
			<key>volume</key>
			<real>69446200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.810000000000002</real>
			<key>close</key>
			<real>25.949999999999999</real>
			<key>date</key>
			<date>2010-07-27T16:00:00Z</date>
			<key>high</key>
			<real>26.189999999999998</real>
			<key>low</key>
			<real>25.830000000000002</real>
			<key>open</key>
			<real>26.07</real>
			<key>volume</key>
			<real>69704800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.02</real>
			<key>close</key>
			<real>26.160000000000004</real>
			<key>date</key>
			<date>2010-07-26T16:00:00Z</date>
			<key>high</key>
			<real>26.239999999999998</real>
			<key>low</key>
			<real>25.960000000000001</real>
			<key>open</key>
			<real>26.139999999999997</real>
			<key>volume</key>
			<real>60672100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.960000000000001</real>
			<key>close</key>
			<real>26.100000000000001</real>
			<key>date</key>
			<date>2010-07-25T16:00:00Z</date>
			<key>high</key>
			<real>26.199999999999999</real>
			<key>low</key>
			<real>25.800000000000001</real>
			<key>open</key>
			<real>25.860000000000003</real>
			<key>volume</key>
			<real>67249900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.669999999999998</real>
			<key>close</key>
			<real>25.810000000000002</real>
			<key>date</key>
			<date>2010-07-22T16:00:00Z</date>
			<key>high</key>
			<real>26.02</real>
			<key>low</key>
			<real>25.25</real>
			<key>open</key>
			<real>25.839999999999996</real>
			<key>volume</key>
			<real>108520100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.699999999999999</real>
			<key>close</key>
			<real>25.839999999999996</real>
			<key>date</key>
			<date>2010-07-21T16:00:00Z</date>
			<key>high</key>
			<real>25.989999999999998</real>
			<key>low</key>
			<real>25.469999999999999</real>
			<key>open</key>
			<real>25.509999999999998</real>
			<key>volume</key>
			<real>73016400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.990000000000002</real>
			<key>close</key>
			<real>25.119999999999997</real>
			<key>date</key>
			<date>2010-07-20T16:00:00Z</date>
			<key>high</key>
			<real>25.649999999999999</real>
			<key>low</key>
			<real>24.98</real>
			<key>open</key>
			<real>25.600000000000001</real>
			<key>volume</key>
			<real>73297300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.34</real>
			<key>close</key>
			<real>25.48</real>
			<key>date</key>
			<date>2010-07-19T16:00:00Z</date>
			<key>high</key>
			<real>25.48</real>
			<key>low</key>
			<real>24.699999999999999</real>
			<key>open</key>
			<real>24.859999999999999</real>
			<key>volume</key>
			<real>45530700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.100000000000001</real>
			<key>close</key>
			<real>25.23</real>
			<key>date</key>
			<date>2010-07-18T16:00:00Z</date>
			<key>high</key>
			<real>25.300000000000001</real>
			<key>low</key>
			<real>24.91</real>
			<key>open</key>
			<real>24.960000000000001</real>
			<key>volume</key>
			<real>38181800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.759999999999998</real>
			<key>close</key>
			<real>24.890000000000001</real>
			<key>date</key>
			<date>2010-07-15T16:00:00Z</date>
			<key>high</key>
			<real>25.639999999999997</real>
			<key>low</key>
			<real>24.880000000000003</real>
			<key>open</key>
			<real>25.509999999999998</real>
			<key>volume</key>
			<real>65064800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.369999999999997</real>
			<key>close</key>
			<real>25.509999999999998</real>
			<key>date</key>
			<date>2010-07-14T16:00:00Z</date>
			<key>high</key>
			<real>25.59</real>
			<key>low</key>
			<real>24.98</real>
			<key>open</key>
			<real>25.5</real>
			<key>volume</key>
			<real>56934700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.309999999999999</real>
			<key>close</key>
			<real>25.440000000000001</real>
			<key>date</key>
			<date>2010-07-13T16:00:00Z</date>
			<key>high</key>
			<real>25.610000000000003</real>
			<key>low</key>
			<real>25.119999999999997</real>
			<key>open</key>
			<real>25.5</real>
			<key>volume</key>
			<real>72808100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25</real>
			<key>close</key>
			<real>25.130000000000003</real>
			<key>date</key>
			<date>2010-07-12T16:00:00Z</date>
			<key>high</key>
			<real>25.300000000000001</real>
			<key>low</key>
			<real>24.899999999999999</real>
			<key>open</key>
			<real>25.140000000000001</real>
			<key>volume</key>
			<real>61928700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.699999999999999</real>
			<key>close</key>
			<real>24.830000000000002</real>
			<key>date</key>
			<date>2010-07-11T16:00:00Z</date>
			<key>high</key>
			<real>24.890000000000001</real>
			<key>low</key>
			<real>24.419999999999998</real>
			<key>open</key>
			<real>24.43</real>
			<key>volume</key>
			<real>49854200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.140000000000001</real>
			<key>close</key>
			<real>24.27</real>
			<key>date</key>
			<date>2010-07-08T16:00:00Z</date>
			<key>high</key>
			<real>24.41</real>
			<key>low</key>
			<real>24.149999999999999</real>
			<key>open</key>
			<real>24.330000000000002</real>
			<key>volume</key>
			<real>53806100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.280000000000001</real>
			<key>close</key>
			<real>24.41</real>
			<key>date</key>
			<date>2010-07-07T16:00:00Z</date>
			<key>high</key>
			<real>24.619999999999997</real>
			<key>low</key>
			<real>23.969999999999999</real>
			<key>open</key>
			<real>24.600000000000001</real>
			<key>volume</key>
			<real>50758100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.169999999999998</real>
			<key>close</key>
			<real>24.300000000000001</real>
			<key>date</key>
			<date>2010-07-06T16:00:00Z</date>
			<key>high</key>
			<real>24.32</real>
			<key>low</key>
			<real>23.609999999999999</real>
			<key>open</key>
			<real>23.82</real>
			<key>volume</key>
			<real>79965300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.690000000000001</real>
			<key>close</key>
			<real>23.82</real>
			<key>date</key>
			<date>2010-07-05T16:00:00Z</date>
			<key>high</key>
			<real>24.09</real>
			<key>low</key>
			<real>23.580000000000002</real>
			<key>open</key>
			<real>23.699999999999999</real>
			<key>volume</key>
			<real>73592000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.149999999999999</real>
			<key>close</key>
			<real>23.27</real>
			<key>date</key>
			<date>2010-07-01T16:00:00Z</date>
			<key>high</key>
			<real>23.48</real>
			<key>low</key>
			<real>23.050000000000001</real>
			<key>open</key>
			<real>23.359999999999999</real>
			<key>volume</key>
			<real>62485100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.039999999999999</real>
			<key>close</key>
			<real>23.16</real>
			<key>date</key>
			<date>2010-06-30T16:00:00Z</date>
			<key>high</key>
			<real>23.32</real>
			<key>low</key>
			<real>22.73</real>
			<key>open</key>
			<real>23.09</real>
			<key>volume</key>
			<real>92239400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>22.890000000000001</real>
			<key>close</key>
			<real>23.009999999999998</real>
			<key>date</key>
			<date>2010-06-29T16:00:00Z</date>
			<key>high</key>
			<real>23.68</real>
			<key>low</key>
			<real>22.949999999999999</real>
			<key>open</key>
			<real>23.300000000000001</real>
			<key>volume</key>
			<real>81050500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>23.190000000000001</real>
			<key>close</key>
			<real>23.309999999999999</real>
			<key>date</key>
			<date>2010-06-28T16:00:00Z</date>
			<key>high</key>
			<real>24.199999999999999</real>
			<key>low</key>
			<real>23.109999999999999</real>
			<key>open</key>
			<real>24.130000000000003</real>
			<key>volume</key>
			<real>119882100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.18</real>
			<key>close</key>
			<real>24.309999999999999</real>
			<key>date</key>
			<date>2010-06-27T16:00:00Z</date>
			<key>high</key>
			<real>24.609999999999999</real>
			<key>low</key>
			<real>24.119999999999997</real>
			<key>open</key>
			<real>24.509999999999998</real>
			<key>volume</key>
			<real>73784800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.399999999999999</real>
			<key>close</key>
			<real>24.530000000000001</real>
			<key>date</key>
			<date>2010-06-24T16:00:00Z</date>
			<key>high</key>
			<real>25.109999999999999</real>
			<key>low</key>
			<real>24.309999999999999</real>
			<key>open</key>
			<real>25.050000000000001</real>
			<key>volume</key>
			<real>156256700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.869999999999997</real>
			<key>close</key>
			<real>25</real>
			<key>date</key>
			<date>2010-06-23T16:00:00Z</date>
			<key>high</key>
			<real>25.719999999999999</real>
			<key>low</key>
			<real>24.93</real>
			<key>open</key>
			<real>25.460000000000001</real>
			<key>volume</key>
			<real>85243400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.18</real>
			<key>close</key>
			<real>25.309999999999999</real>
			<key>date</key>
			<date>2010-06-22T16:00:00Z</date>
			<key>high</key>
			<real>25.780000000000001</real>
			<key>low</key>
			<real>25.219999999999999</real>
			<key>open</key>
			<real>25.780000000000001</real>
			<key>volume</key>
			<real>61466200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.630000000000003</real>
			<key>close</key>
			<real>25.77</real>
			<key>date</key>
			<date>2010-06-21T16:00:00Z</date>
			<key>high</key>
			<real>26.449999999999999</real>
			<key>low</key>
			<real>25.760000000000002</real>
			<key>open</key>
			<real>26.160000000000004</real>
			<key>volume</key>
			<real>55985400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.810000000000002</real>
			<key>close</key>
			<real>25.949999999999999</real>
			<key>date</key>
			<date>2010-06-20T16:00:00Z</date>
			<key>high</key>
			<real>26.889999999999997</real>
			<key>low</key>
			<real>25.889999999999997</real>
			<key>open</key>
			<real>26.780000000000001</real>
			<key>volume</key>
			<real>54625300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.300000000000001</real>
			<key>close</key>
			<real>26.439999999999998</real>
			<key>date</key>
			<date>2010-06-17T16:00:00Z</date>
			<key>high</key>
			<real>26.530000000000001</real>
			<key>low</key>
			<real>26.169999999999998</real>
			<key>open</key>
			<real>26.369999999999997</real>
			<key>volume</key>
			<real>52075600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.23</real>
			<key>close</key>
			<real>26.369999999999997</real>
			<key>date</key>
			<date>2010-06-16T16:00:00Z</date>
			<key>high</key>
			<real>26.669999999999998</real>
			<key>low</key>
			<real>26.039999999999999</real>
			<key>open</key>
			<real>26.560000000000002</real>
			<key>volume</key>
			<real>47995500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.18</real>
			<key>close</key>
			<real>26.32</real>
			<key>date</key>
			<date>2010-06-15T16:00:00Z</date>
			<key>high</key>
			<real>26.580000000000002</real>
			<key>low</key>
			<real>26.23</real>
			<key>open</key>
			<real>26.469999999999999</real>
			<key>volume</key>
			<real>48698000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.439999999999998</real>
			<key>close</key>
			<real>26.580000000000002</real>
			<key>date</key>
			<date>2010-06-14T16:00:00Z</date>
			<key>high</key>
			<real>26.649999999999999</real>
			<key>low</key>
			<real>25.739999999999998</real>
			<key>open</key>
			<real>25.75</real>
			<key>volume</key>
			<real>81641500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.359999999999999</real>
			<key>close</key>
			<real>25.5</real>
			<key>date</key>
			<date>2010-06-13T16:00:00Z</date>
			<key>high</key>
			<real>25.960000000000001</real>
			<key>low</key>
			<real>25.469999999999999</real>
			<key>open</key>
			<real>25.860000000000003</real>
			<key>volume</key>
			<real>50972400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.52</real>
			<key>close</key>
			<real>25.660000000000004</real>
			<key>date</key>
			<date>2010-06-10T16:00:00Z</date>
			<key>high</key>
			<real>25.719999999999999</real>
			<key>low</key>
			<real>24.77</real>
			<key>open</key>
			<real>25.039999999999999</real>
			<key>volume</key>
			<real>68057700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.869999999999997</real>
			<key>close</key>
			<real>25</real>
			<key>date</key>
			<date>2010-06-09T16:00:00Z</date>
			<key>high</key>
			<real>25.149999999999999</real>
			<key>low</key>
			<real>24.780000000000001</real>
			<key>open</key>
			<real>25.130000000000003</real>
			<key>volume</key>
			<real>78930900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.66</real>
			<key>close</key>
			<real>24.789999999999999</real>
			<key>date</key>
			<date>2010-06-08T16:00:00Z</date>
			<key>high</key>
			<real>25.52</real>
			<key>low</key>
			<real>24.75</real>
			<key>open</key>
			<real>25.219999999999999</real>
			<key>volume</key>
			<real>87794000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.98</real>
			<key>close</key>
			<real>25.109999999999999</real>
			<key>date</key>
			<date>2010-06-07T16:00:00Z</date>
			<key>high</key>
			<real>25.259999999999998</real>
			<key>low</key>
			<real>24.649999999999999</real>
			<key>open</key>
			<real>25.25</real>
			<key>volume</key>
			<real>87355000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.16</real>
			<key>close</key>
			<real>25.289999999999999</real>
			<key>date</key>
			<date>2010-06-06T16:00:00Z</date>
			<key>high</key>
			<real>25.830000000000002</real>
			<key>low</key>
			<real>25.240000000000002</real>
			<key>open</key>
			<real>25.82</real>
			<key>volume</key>
			<real>80456200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.649999999999999</real>
			<key>close</key>
			<real>25.789999999999999</real>
			<key>date</key>
			<date>2010-06-03T16:00:00Z</date>
			<key>high</key>
			<real>26.57</real>
			<key>low</key>
			<real>25.619999999999997</real>
			<key>open</key>
			<real>26.100000000000001</real>
			<key>volume</key>
			<real>89832200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.719999999999999</real>
			<key>close</key>
			<real>26.860000000000003</real>
			<key>date</key>
			<date>2010-06-02T16:00:00Z</date>
			<key>high</key>
			<real>26.93</real>
			<key>low</key>
			<real>26.410000000000004</real>
			<key>open</key>
			<real>26.550000000000001</real>
			<key>volume</key>
			<real>67837000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.32</real>
			<key>close</key>
			<real>26.460000000000001</real>
			<key>date</key>
			<date>2010-06-01T16:00:00Z</date>
			<key>high</key>
			<real>26.48</real>
			<key>low</key>
			<real>25.73</real>
			<key>open</key>
			<real>26.060000000000002</real>
			<key>volume</key>
			<real>65718800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.75</real>
			<key>close</key>
			<real>25.889999999999997</real>
			<key>date</key>
			<date>2010-05-31T16:00:00Z</date>
			<key>high</key>
			<real>26.310000000000002</real>
			<key>low</key>
			<real>25.52</real>
			<key>open</key>
			<real>25.530000000000001</real>
			<key>volume</key>
			<real>76152400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.660000000000004</real>
			<key>close</key>
			<real>25.800000000000001</real>
			<key>date</key>
			<date>2010-05-27T16:00:00Z</date>
			<key>high</key>
			<real>26.119999999999997</real>
			<key>low</key>
			<real>25.660000000000004</real>
			<key>open</key>
			<real>25.839999999999996</real>
			<key>volume</key>
			<real>67496900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.860000000000003</real>
			<key>close</key>
			<real>26</real>
			<key>date</key>
			<date>2010-05-26T16:00:00Z</date>
			<key>high</key>
			<real>26.360000000000003</real>
			<key>low</key>
			<real>25.73</real>
			<key>open</key>
			<real>25.73</real>
			<key>volume</key>
			<real>136433600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>24.880000000000003</real>
			<key>close</key>
			<real>25.009999999999998</real>
			<key>date</key>
			<date>2010-05-25T16:00:00Z</date>
			<key>high</key>
			<real>26.610000000000003</real>
			<key>low</key>
			<real>24.559999999999999</real>
			<key>open</key>
			<real>26.23</real>
			<key>volume</key>
			<real>176684100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>25.93</real>
			<key>close</key>
			<real>26.07</real>
			<key>date</key>
			<date>2010-05-24T16:00:00Z</date>
			<key>high</key>
			<real>26.330000000000002</real>
			<key>low</key>
			<real>25.380000000000003</real>
			<key>open</key>
			<real>25.649999999999999</real>
			<key>volume</key>
			<real>98373600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.130000000000003</real>
			<key>close</key>
			<real>26.27</real>
			<key>date</key>
			<date>2010-05-23T16:00:00Z</date>
			<key>high</key>
			<real>26.860000000000003</real>
			<key>low</key>
			<real>26.260000000000002</real>
			<key>open</key>
			<real>26.850000000000001</real>
			<key>volume</key>
			<real>73711700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.699999999999999</real>
			<key>close</key>
			<real>26.839999999999996</real>
			<key>date</key>
			<date>2010-05-20T16:00:00Z</date>
			<key>high</key>
			<real>27.110000000000003</real>
			<key>low</key>
			<real>26.439999999999998</real>
			<key>open</key>
			<real>26.630000000000003</real>
			<key>volume</key>
			<real>117596300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>26.969999999999999</real>
			<key>close</key>
			<real>27.110000000000003</real>
			<key>date</key>
			<date>2010-05-19T16:00:00Z</date>
			<key>high</key>
			<real>27.839999999999996</real>
			<key>low</key>
			<real>27.039999999999999</real>
			<key>open</key>
			<real>27.649999999999999</real>
			<key>volume</key>
			<real>87991100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>28.089999999999996</real>
			<key>close</key>
			<real>28.239999999999998</real>
			<key>date</key>
			<date>2010-05-18T16:00:00Z</date>
			<key>high</key>
			<real>28.689999999999998</real>
			<key>low</key>
			<real>27.789999999999999</real>
			<key>open</key>
			<real>28.52</real>
			<key>volume</key>
			<real>61746700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>28.449999999999999</real>
			<key>close</key>
			<real>28.600000000000001</real>
			<key>date</key>
			<date>2010-05-17T16:00:00Z</date>
			<key>high</key>
			<real>29</real>
			<key>low</key>
			<real>28.399999999999999</real>
			<key>open</key>
			<real>28.869999999999997</real>
			<key>volume</key>
			<real>52690600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>28.660000000000004</real>
			<key>close</key>
			<real>28.939999999999998</real>
			<key>date</key>
			<date>2010-05-16T16:00:00Z</date>
			<key>high</key>
			<real>29.23</real>
			<key>low</key>
			<real>28.449999999999999</real>
			<key>open</key>
			<real>29.119999999999997</real>
			<key>volume</key>
			<real>46053300</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>29.23</real>
	<key>overallLow</key>
	<real>22.73</real>
	<key>startDate</key>
	<date>2010-05-14T17:18:41Z</date>
	<key>symbol</key>
	<string>MSFT</string>
</dict>
</plist>
