<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endDate</key>
	<date>2010-08-20T17:18:41Z</date>
	<key>financalData</key>
	<array>
		<dict>
			<key>adjClose</key>
			<real>13.85</real>
			<key>close</key>
			<real>13.85</real>
			<key>date</key>
			<date>2010-08-18T16:00:00Z</date>
			<key>high</key>
			<real>14</real>
			<key>low</key>
			<real>13.800000000000001</real>
			<key>open</key>
			<real>13.85</real>
			<key>volume</key>
			<real>14057000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.99</real>
			<key>close</key>
			<real>13.99</real>
			<key>date</key>
			<date>2010-08-17T16:00:00Z</date>
			<key>high</key>
			<real>14.050000000000001</real>
			<key>low</key>
			<real>13.84</real>
			<key>open</key>
			<real>13.98</real>
			<key>volume</key>
			<real>15533300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.940000000000001</real>
			<key>close</key>
			<real>13.940000000000001</real>
			<key>date</key>
			<date>2010-08-16T16:00:00Z</date>
			<key>high</key>
			<real>14</real>
			<key>low</key>
			<real>13.75</real>
			<key>open</key>
			<real>13.84</real>
			<key>volume</key>
			<real>13298600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.790000000000001</real>
			<key>close</key>
			<real>13.790000000000001</real>
			<key>date</key>
			<date>2010-08-15T16:00:00Z</date>
			<key>high</key>
			<real>13.9</real>
			<key>low</key>
			<real>13.680000000000001</real>
			<key>open</key>
			<real>13.75</real>
			<key>volume</key>
			<real>11319000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.830000000000002</real>
			<key>close</key>
			<real>13.830000000000002</real>
			<key>date</key>
			<date>2010-08-12T16:00:00Z</date>
			<key>high</key>
			<real>13.959999999999999</real>
			<key>low</key>
			<real>13.76</real>
			<key>open</key>
			<real>13.809999999999999</real>
			<key>volume</key>
			<real>7742900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.85</real>
			<key>close</key>
			<real>13.85</real>
			<key>date</key>
			<date>2010-08-11T16:00:00Z</date>
			<key>high</key>
			<real>13.99</real>
			<key>low</key>
			<real>13.75</real>
			<key>open</key>
			<real>13.77</real>
			<key>volume</key>
			<real>11659900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.869999999999999</real>
			<key>close</key>
			<real>13.869999999999999</real>
			<key>date</key>
			<date>2010-08-10T16:00:00Z</date>
			<key>high</key>
			<real>14.199999999999999</real>
			<key>low</key>
			<real>13.84</real>
			<key>open</key>
			<real>14.140000000000001</real>
			<key>volume</key>
			<real>13235500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.35</real>
			<key>close</key>
			<real>14.35</real>
			<key>date</key>
			<date>2010-08-09T16:00:00Z</date>
			<key>high</key>
			<real>14.459999999999999</real>
			<key>low</key>
			<real>14.199999999999999</real>
			<key>open</key>
			<real>14.26</real>
			<key>volume</key>
			<real>9605900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.4</real>
			<key>close</key>
			<real>14.4</real>
			<key>date</key>
			<date>2010-08-08T16:00:00Z</date>
			<key>high</key>
			<real>14.52</real>
			<key>low</key>
			<real>14.34</real>
			<key>open</key>
			<real>14.34</real>
			<key>volume</key>
			<real>12202600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.34</real>
			<key>close</key>
			<real>14.34</real>
			<key>date</key>
			<date>2010-08-05T16:00:00Z</date>
			<key>high</key>
			<real>14.380000000000001</real>
			<key>low</key>
			<real>14</real>
			<key>open</key>
			<real>14.059999999999999</real>
			<key>volume</key>
			<real>13394800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.16</real>
			<key>close</key>
			<real>14.16</real>
			<key>date</key>
			<date>2010-08-04T16:00:00Z</date>
			<key>high</key>
			<real>14.25</real>
			<key>low</key>
			<real>14.02</real>
			<key>open</key>
			<real>14.16</real>
			<key>volume</key>
			<real>13072700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.180000000000001</real>
			<key>close</key>
			<real>14.180000000000001</real>
			<key>date</key>
			<date>2010-08-03T16:00:00Z</date>
			<key>high</key>
			<real>14.199999999999999</real>
			<key>low</key>
			<real>13.919999999999998</real>
			<key>open</key>
			<real>14</real>
			<key>volume</key>
			<real>14297200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.940000000000001</real>
			<key>close</key>
			<real>13.940000000000001</real>
			<key>date</key>
			<date>2010-08-02T16:00:00Z</date>
			<key>high</key>
			<real>14.069999999999999</real>
			<key>low</key>
			<real>13.91</real>
			<key>open</key>
			<real>13.949999999999999</real>
			<key>volume</key>
			<real>13936300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14</real>
			<key>close</key>
			<real>14</real>
			<key>date</key>
			<date>2010-08-01T16:00:00Z</date>
			<key>high</key>
			<real>14.080000000000002</real>
			<key>low</key>
			<real>13.959999999999999</real>
			<key>open</key>
			<real>14.01</real>
			<key>volume</key>
			<real>13762000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.880000000000001</real>
			<key>close</key>
			<real>13.880000000000001</real>
			<key>date</key>
			<date>2010-07-29T16:00:00Z</date>
			<key>high</key>
			<real>13.98</real>
			<key>low</key>
			<real>13.680000000000001</real>
			<key>open</key>
			<real>13.690000000000001</real>
			<key>volume</key>
			<real>18335700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.76</real>
			<key>close</key>
			<real>13.76</real>
			<key>date</key>
			<date>2010-07-28T16:00:00Z</date>
			<key>high</key>
			<real>13.959999999999999</real>
			<key>low</key>
			<real>13.75</real>
			<key>open</key>
			<real>13.9</real>
			<key>volume</key>
			<real>16536400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.869999999999999</real>
			<key>close</key>
			<real>13.869999999999999</real>
			<key>date</key>
			<date>2010-07-27T16:00:00Z</date>
			<key>high</key>
			<real>13.99</real>
			<key>low</key>
			<real>13.85</real>
			<key>open</key>
			<real>13.91</real>
			<key>volume</key>
			<real>13341800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.949999999999999</real>
			<key>close</key>
			<real>13.949999999999999</real>
			<key>date</key>
			<date>2010-07-26T16:00:00Z</date>
			<key>high</key>
			<real>14.1</real>
			<key>low</key>
			<real>13.890000000000001</real>
			<key>open</key>
			<real>14.069999999999999</real>
			<key>volume</key>
			<real>20971000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.15</real>
			<key>close</key>
			<real>14.15</real>
			<key>date</key>
			<date>2010-07-25T16:00:00Z</date>
			<key>high</key>
			<real>14.219999999999999</real>
			<key>low</key>
			<real>13.949999999999999</real>
			<key>open</key>
			<real>13.959999999999999</real>
			<key>volume</key>
			<real>23193500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.99</real>
			<key>close</key>
			<real>13.99</real>
			<key>date</key>
			<date>2010-07-22T16:00:00Z</date>
			<key>high</key>
			<real>14.040000000000001</real>
			<key>low</key>
			<real>13.52</real>
			<key>open</key>
			<real>13.780000000000001</real>
			<key>volume</key>
			<real>34283700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.880000000000001</real>
			<key>close</key>
			<real>13.880000000000001</real>
			<key>date</key>
			<date>2010-07-21T16:00:00Z</date>
			<key>high</key>
			<real>14.169999999999998</real>
			<key>low</key>
			<real>13.809999999999999</real>
			<key>open</key>
			<real>13.890000000000001</real>
			<key>volume</key>
			<real>42662300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.91</real>
			<key>close</key>
			<real>13.91</real>
			<key>date</key>
			<date>2010-07-20T16:00:00Z</date>
			<key>high</key>
			<real>14.280000000000001</real>
			<key>low</key>
			<real>13.75</real>
			<key>open</key>
			<real>14.27</real>
			<key>volume</key>
			<real>77063800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.199999999999999</real>
			<key>close</key>
			<real>15.199999999999999</real>
			<key>date</key>
			<date>2010-07-19T16:00:00Z</date>
			<key>high</key>
			<real>15.280000000000001</real>
			<key>low</key>
			<real>14.800000000000001</real>
			<key>open</key>
			<real>14.99</real>
			<key>volume</key>
			<real>29450000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.1</real>
			<key>close</key>
			<real>15.1</real>
			<key>date</key>
			<date>2010-07-18T16:00:00Z</date>
			<key>high</key>
			<real>15.380000000000001</real>
			<key>low</key>
			<real>15.02</real>
			<key>open</key>
			<real>15.23</real>
			<key>volume</key>
			<real>16168200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.9</real>
			<key>close</key>
			<real>14.9</real>
			<key>date</key>
			<date>2010-07-15T16:00:00Z</date>
			<key>high</key>
			<real>15.369999999999999</real>
			<key>low</key>
			<real>13.859999999999999</real>
			<key>open</key>
			<real>15.330000000000002</real>
			<key>volume</key>
			<real>16829800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.369999999999999</real>
			<key>close</key>
			<real>15.369999999999999</real>
			<key>date</key>
			<date>2010-07-14T16:00:00Z</date>
			<key>high</key>
			<real>15.390000000000001</real>
			<key>low</key>
			<real>15.040000000000001</real>
			<key>open</key>
			<real>15.309999999999999</real>
			<key>volume</key>
			<real>12538100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.369999999999999</real>
			<key>close</key>
			<real>15.369999999999999</real>
			<key>date</key>
			<date>2010-07-13T16:00:00Z</date>
			<key>high</key>
			<real>15.419999999999998</real>
			<key>low</key>
			<real>15.199999999999999</real>
			<key>open</key>
			<real>15.319999999999999</real>
			<key>volume</key>
			<real>12255700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.52</real>
			<key>close</key>
			<real>15.52</real>
			<key>date</key>
			<date>2010-07-12T16:00:00Z</date>
			<key>high</key>
			<real>15.6</real>
			<key>low</key>
			<real>14.99</real>
			<key>open</key>
			<real>15.059999999999999</real>
			<key>volume</key>
			<real>22328800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.940000000000001</real>
			<key>close</key>
			<real>14.940000000000001</real>
			<key>date</key>
			<date>2010-07-11T16:00:00Z</date>
			<key>high</key>
			<real>15.209999999999999</real>
			<key>low</key>
			<real>14.780000000000001</real>
			<key>open</key>
			<real>14.930000000000001</real>
			<key>volume</key>
			<real>15585900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.890000000000001</real>
			<key>close</key>
			<real>14.890000000000001</real>
			<key>date</key>
			<date>2010-07-08T16:00:00Z</date>
			<key>high</key>
			<real>14.930000000000001</real>
			<key>low</key>
			<real>14.59</real>
			<key>open</key>
			<real>14.6</real>
			<key>volume</key>
			<real>12682000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.6</real>
			<key>close</key>
			<real>14.6</real>
			<key>date</key>
			<date>2010-07-07T16:00:00Z</date>
			<key>high</key>
			<real>14.77</real>
			<key>low</key>
			<real>14.4</real>
			<key>open</key>
			<real>14.430000000000001</real>
			<key>volume</key>
			<real>17088700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.4</real>
			<key>close</key>
			<real>14.4</real>
			<key>date</key>
			<date>2010-07-06T16:00:00Z</date>
			<key>high</key>
			<real>14.419999999999998</real>
			<key>low</key>
			<real>14.119999999999999</real>
			<key>open</key>
			<real>14.180000000000001</real>
			<key>volume</key>
			<real>17417900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.130000000000001</real>
			<key>close</key>
			<real>14.130000000000001</real>
			<key>date</key>
			<date>2010-07-05T16:00:00Z</date>
			<key>high</key>
			<real>14.459999999999999</real>
			<key>low</key>
			<real>14</real>
			<key>open</key>
			<real>14.23</real>
			<key>volume</key>
			<real>17334100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.069999999999999</real>
			<key>close</key>
			<real>14.069999999999999</real>
			<key>date</key>
			<date>2010-07-01T16:00:00Z</date>
			<key>high</key>
			<real>14.24</real>
			<key>low</key>
			<real>14.030000000000001</real>
			<key>open</key>
			<real>14.080000000000002</real>
			<key>volume</key>
			<real>18564400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.09</real>
			<key>close</key>
			<real>14.09</real>
			<key>date</key>
			<date>2010-06-30T16:00:00Z</date>
			<key>high</key>
			<real>14.15</real>
			<key>low</key>
			<real>13.75</real>
			<key>open</key>
			<real>13.99</real>
			<key>volume</key>
			<real>33222500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>13.84</real>
			<key>close</key>
			<real>13.84</real>
			<key>date</key>
			<date>2010-06-29T16:00:00Z</date>
			<key>high</key>
			<real>14.219999999999999</real>
			<key>low</key>
			<real>13.790000000000001</real>
			<key>open</key>
			<real>13.949999999999999</real>
			<key>volume</key>
			<real>23912900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.040000000000001</real>
			<key>close</key>
			<real>14.040000000000001</real>
			<key>date</key>
			<date>2010-06-28T16:00:00Z</date>
			<key>high</key>
			<real>14.540000000000001</real>
			<key>low</key>
			<real>13.880000000000001</real>
			<key>open</key>
			<real>14.530000000000001</real>
			<key>volume</key>
			<real>31825900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.73</real>
			<key>close</key>
			<real>14.73</real>
			<key>date</key>
			<date>2010-06-27T16:00:00Z</date>
			<key>high</key>
			<real>14.859999999999999</real>
			<key>low</key>
			<real>14.580000000000002</real>
			<key>open</key>
			<real>14.830000000000002</real>
			<key>volume</key>
			<real>8175400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.809999999999999</real>
			<key>close</key>
			<real>14.809999999999999</real>
			<key>date</key>
			<date>2010-06-24T16:00:00Z</date>
			<key>high</key>
			<real>14.919999999999998</real>
			<key>low</key>
			<real>14.569999999999999</real>
			<key>open</key>
			<real>14.859999999999999</real>
			<key>volume</key>
			<real>29817600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.830000000000002</real>
			<key>close</key>
			<real>14.830000000000002</real>
			<key>date</key>
			<date>2010-06-23T16:00:00Z</date>
			<key>high</key>
			<real>15.190000000000001</real>
			<key>low</key>
			<real>14.699999999999999</real>
			<key>open</key>
			<real>15.109999999999999</real>
			<key>volume</key>
			<real>18287700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.23</real>
			<key>close</key>
			<real>15.23</real>
			<key>date</key>
			<date>2010-06-22T16:00:00Z</date>
			<key>high</key>
			<real>15.390000000000001</real>
			<key>low</key>
			<real>14.949999999999999</real>
			<key>open</key>
			<real>15.140000000000001</real>
			<key>volume</key>
			<real>13374000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.09</real>
			<key>close</key>
			<real>15.09</real>
			<key>date</key>
			<date>2010-06-21T16:00:00Z</date>
			<key>high</key>
			<real>15.51</real>
			<key>low</key>
			<real>15.069999999999999</real>
			<key>open</key>
			<real>15.24</real>
			<key>volume</key>
			<real>22418100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.209999999999999</real>
			<key>close</key>
			<real>15.209999999999999</real>
			<key>date</key>
			<date>2010-06-20T16:00:00Z</date>
			<key>high</key>
			<real>15.84</real>
			<key>low</key>
			<real>15.09</real>
			<key>open</key>
			<real>15.709999999999999</real>
			<key>volume</key>
			<real>20277600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.540000000000001</real>
			<key>close</key>
			<real>15.540000000000001</real>
			<key>date</key>
			<date>2010-06-17T16:00:00Z</date>
			<key>high</key>
			<real>15.669999999999998</real>
			<key>low</key>
			<real>15.469999999999999</real>
			<key>open</key>
			<real>15.66</real>
			<key>volume</key>
			<real>12639600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.6</real>
			<key>close</key>
			<real>15.6</real>
			<key>date</key>
			<date>2010-06-16T16:00:00Z</date>
			<key>high</key>
			<real>15.719999999999999</real>
			<key>low</key>
			<real>15.440000000000001</real>
			<key>open</key>
			<real>15.719999999999999</real>
			<key>volume</key>
			<real>10680400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.49</real>
			<key>close</key>
			<real>15.49</real>
			<key>date</key>
			<date>2010-06-15T16:00:00Z</date>
			<key>high</key>
			<real>15.65</real>
			<key>low</key>
			<real>15.34</real>
			<key>open</key>
			<real>15.580000000000002</real>
			<key>volume</key>
			<real>15920300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.65</real>
			<key>close</key>
			<real>15.65</real>
			<key>date</key>
			<date>2010-06-14T16:00:00Z</date>
			<key>high</key>
			<real>15.690000000000001</real>
			<key>low</key>
			<real>15.23</real>
			<key>open</key>
			<real>15.290000000000001</real>
			<key>volume</key>
			<real>13888300</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.169999999999998</real>
			<key>close</key>
			<real>15.169999999999998</real>
			<key>date</key>
			<date>2010-06-13T16:00:00Z</date>
			<key>high</key>
			<real>15.49</real>
			<key>low</key>
			<real>15.15</real>
			<key>open</key>
			<real>15.459999999999999</real>
			<key>volume</key>
			<real>12493100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.290000000000001</real>
			<key>close</key>
			<real>15.290000000000001</real>
			<key>date</key>
			<date>2010-06-10T16:00:00Z</date>
			<key>high</key>
			<real>15.35</real>
			<key>low</key>
			<real>14.98</real>
			<key>open</key>
			<real>15.02</real>
			<key>volume</key>
			<real>13601500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.1</real>
			<key>close</key>
			<real>15.1</real>
			<key>date</key>
			<date>2010-06-09T16:00:00Z</date>
			<key>high</key>
			<real>15.140000000000001</real>
			<key>low</key>
			<real>14.869999999999999</real>
			<key>open</key>
			<real>14.940000000000001</real>
			<key>volume</key>
			<real>21063600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.690000000000001</real>
			<key>close</key>
			<real>14.690000000000001</real>
			<key>date</key>
			<date>2010-06-08T16:00:00Z</date>
			<key>high</key>
			<real>15.059999999999999</real>
			<key>low</key>
			<real>14.65</real>
			<key>open</key>
			<real>14.930000000000001</real>
			<key>volume</key>
			<real>18108600</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.790000000000001</real>
			<key>close</key>
			<real>14.790000000000001</real>
			<key>date</key>
			<date>2010-06-07T16:00:00Z</date>
			<key>high</key>
			<real>15.119999999999999</real>
			<key>low</key>
			<real>14.619999999999999</real>
			<key>open</key>
			<real>15.050000000000001</real>
			<key>volume</key>
			<real>35327900</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>14.940000000000001</real>
			<key>close</key>
			<real>14.940000000000001</real>
			<key>date</key>
			<date>2010-06-06T16:00:00Z</date>
			<key>high</key>
			<real>15.359999999999999</real>
			<key>low</key>
			<real>14.940000000000001</real>
			<key>open</key>
			<real>15.190000000000001</real>
			<key>volume</key>
			<real>19016400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15</real>
			<key>close</key>
			<real>15</real>
			<key>date</key>
			<date>2010-06-03T16:00:00Z</date>
			<key>high</key>
			<real>15.380000000000001</real>
			<key>low</key>
			<real>14.959999999999999</real>
			<key>open</key>
			<real>15.119999999999999</real>
			<key>volume</key>
			<real>23569400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.430000000000001</real>
			<key>close</key>
			<real>15.430000000000001</real>
			<key>date</key>
			<date>2010-06-02T16:00:00Z</date>
			<key>high</key>
			<real>15.5</real>
			<key>low</key>
			<real>15.16</real>
			<key>open</key>
			<real>15.319999999999999</real>
			<key>volume</key>
			<real>28395100</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.180000000000001</real>
			<key>close</key>
			<real>15.180000000000001</real>
			<key>date</key>
			<date>2010-06-01T16:00:00Z</date>
			<key>high</key>
			<real>15.199999999999999</real>
			<key>low</key>
			<real>14.959999999999999</real>
			<key>open</key>
			<real>15.040000000000001</real>
			<key>volume</key>
			<real>24993000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.02</real>
			<key>close</key>
			<real>15.02</real>
			<key>date</key>
			<date>2010-05-31T16:00:00Z</date>
			<key>high</key>
			<real>15.550000000000001</real>
			<key>low</key>
			<real>14.98</real>
			<key>open</key>
			<real>15.309999999999999</real>
			<key>volume</key>
			<real>30434500</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.34</real>
			<key>close</key>
			<real>15.34</real>
			<key>date</key>
			<date>2010-05-27T16:00:00Z</date>
			<key>high</key>
			<real>15.690000000000001</real>
			<key>low</key>
			<real>15</real>
			<key>open</key>
			<real>15.609999999999999</real>
			<key>volume</key>
			<real>17619700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.690000000000001</real>
			<key>close</key>
			<real>15.690000000000001</real>
			<key>date</key>
			<date>2010-05-26T16:00:00Z</date>
			<key>high</key>
			<real>15.84</real>
			<key>low</key>
			<real>15.359999999999999</real>
			<key>open</key>
			<real>15.830000000000002</real>
			<key>volume</key>
			<real>31091700</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.449999999999999</real>
			<key>close</key>
			<real>15.449999999999999</real>
			<key>date</key>
			<date>2010-05-25T16:00:00Z</date>
			<key>high</key>
			<real>15.830000000000002</real>
			<key>low</key>
			<real>15.430000000000001</real>
			<key>open</key>
			<real>15.6</real>
			<key>volume</key>
			<real>33656000</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.309999999999999</real>
			<key>close</key>
			<real>15.309999999999999</real>
			<key>date</key>
			<date>2010-05-24T16:00:00Z</date>
			<key>high</key>
			<real>15.309999999999999</real>
			<key>low</key>
			<real>14.890000000000001</real>
			<key>open</key>
			<real>15.040000000000001</real>
			<key>volume</key>
			<real>27746800</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.540000000000001</real>
			<key>close</key>
			<real>15.540000000000001</real>
			<key>date</key>
			<date>2010-05-23T16:00:00Z</date>
			<key>high</key>
			<real>15.790000000000001</real>
			<key>low</key>
			<real>15.359999999999999</real>
			<key>open</key>
			<real>15.419999999999998</real>
			<key>volume</key>
			<real>20035400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.48</real>
			<key>close</key>
			<real>15.48</real>
			<key>date</key>
			<date>2010-05-20T16:00:00Z</date>
			<key>high</key>
			<real>15.9</real>
			<key>low</key>
			<real>14.630000000000001</real>
			<key>open</key>
			<real>14.809999999999999</real>
			<key>volume</key>
			<real>30751200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.1</real>
			<key>close</key>
			<real>15.1</real>
			<key>date</key>
			<date>2010-05-19T16:00:00Z</date>
			<key>high</key>
			<real>15.49</real>
			<key>low</key>
			<real>15.059999999999999</real>
			<key>open</key>
			<real>15.449999999999999</real>
			<key>volume</key>
			<real>33767200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>15.790000000000001</real>
			<key>close</key>
			<real>15.790000000000001</real>
			<key>date</key>
			<date>2010-05-18T16:00:00Z</date>
			<key>high</key>
			<real>16</real>
			<key>low</key>
			<real>15.51</real>
			<key>open</key>
			<real>15.830000000000002</real>
			<key>volume</key>
			<real>20485400</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.030000000000001</real>
			<key>close</key>
			<real>16.030000000000001</real>
			<key>date</key>
			<date>2010-05-17T16:00:00Z</date>
			<key>high</key>
			<real>16.440000000000001</real>
			<key>low</key>
			<real>15.949999999999999</real>
			<key>open</key>
			<real>16.27</real>
			<key>volume</key>
			<real>16182200</real>
		</dict>
		<dict>
			<key>adjClose</key>
			<real>16.27</real>
			<key>close</key>
			<real>16.27</real>
			<key>date</key>
			<date>2010-05-16T16:00:00Z</date>
			<key>high</key>
			<real>16.469999999999999</real>
			<key>low</key>
			<real>15.959999999999999</real>
			<key>open</key>
			<real>16.41</real>
			<key>volume</key>
			<real>21935000</real>
		</dict>
	</array>
	<key>overallHigh</key>
	<real>16.469999999999999</real>
	<key>overallLow</key>
	<real>13.52</real>
	<key>startDate</key>
	<date>2010-05-14T17:18:41Z</date>
	<key>symbol</key>
	<string>YHOO</string>
</dict>
</plist>
